
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/router/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>呼叫路由</legend> 
							
							
							
							
							<div class="control-group <%if(msg!=null && msg.createmode!=null){%>error<%}%>"> 
							<label class="control-label" for="createmode">系统只读 </label> 
							<div class="controls"> 
							
							
							
							
														
														
							
							
							
							<label class="radio"> 
									<input type="radio" id="createmode_0" name="createmode" value="0" <% if(inst!=null && inst.createmode=='0' ){%> checked='checked'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> /> 
									否 
							</label> 
							
							<label class="radio"> 
									<input type="radio" id="createmode_1" name="createmode" value="1" <% if(inst!=null && inst.createmode=='1' ){%> checked='checked'   <% } else if(inst==null){%>     <% }else{ %> <% }%> /> 
									是 
							</label> 
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							
							<div class="control-group <%if(msg!=null && msg.routername!=null){%>error<%}%>"> 
							<label class="control-label" for="routername">路由名称 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="routername" name="routername" value="<% if(inst!=null){%><%= inst.routername %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.routername!=null){%><%= msg.routername%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.optextra!=null){%>error<%}%>"> 
							<label class="control-label" for="optextra">操作扩展 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="optextra" name="optextra" value="<% if(inst!=null){%><%= inst.optextra %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.optextra!=null){%><%= msg.optextra%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.lastwhendone!=null){%>error<%}%>"> 
							<label class="control-label" for="lastwhendone">最终规则 </label> 
							<div class="controls"> 
							
							
							
							
														
														
							
							
							
							<label class="radio"> 
									<input type="radio" id="lastwhendone_0" name="lastwhendone" value="0" <% if(inst!=null && inst.lastwhendone=='0' ){%> checked='checked'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> /> 
									否 
							</label> 
							
							<label class="radio"> 
									<input type="radio" id="lastwhendone_1" name="lastwhendone" value="1" <% if(inst!=null && inst.lastwhendone=='1' ){%> checked='checked'   <% } else if(inst==null){%>     <% }else{ %> <% }%> /> 
									是 
							</label> 
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.match_callergroup!=null){%>error<%}%>"> 
							<label class="control-label" for="match_callergroup">匹配主叫组 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="match_callergroup" name="match_callergroup" value="<% if(inst!=null){%><%= inst.match_callergroup %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.match_callergroup!=null){%><%= msg.match_callergroup%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.match_callerlen!=null){%>error<%}%>"> 
							<label class="control-label" for="match_callerlen">匹配主叫长度 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="match_callerlen" name="match_callerlen" value="<% if(inst!=null){%><%= inst.match_callerlen %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.match_callerlen!=null){%><%= msg.match_callerlen%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.match_callerid!=null){%>error<%}%>"> 
							<label class="control-label" for="match_callerid">匹配主叫号码 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="match_callerid" name="match_callerid" value="<% if(inst!=null){%><%= inst.match_callerid %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.match_callerid!=null){%><%= msg.match_callerid%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.match_callednum!=null){%>error<%}%>"> 
							<label class="control-label" for="match_callednum">匹配被叫号码 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="match_callednum" name="match_callednum" value="<% if(inst!=null){%><%= inst.match_callednum %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.match_callednum!=null){%><%= msg.match_callednum%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.match_calledlen!=null){%>error<%}%>"> 
							<label class="control-label" for="match_calledlen">匹配被叫长度 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="match_calledlen" name="match_calledlen" value="<% if(inst!=null){%><%= inst.match_calledlen %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.match_calledlen!=null){%><%= msg.match_calledlen%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.replace_callerid!=null){%>error<%}%>"> 
							<label class="control-label" for="replace_callerid">主叫替换 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="replace_callerid" name="replace_callerid" value="<% if(inst!=null){%><%= inst.replace_callerid %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.replace_callerid!=null){%><%= msg.replace_callerid%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.replace_calledtrim!=null){%>error<%}%>"> 
							<label class="control-label" for="replace_calledtrim">被叫替换 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="replace_calledtrim" name="replace_calledtrim" value="<% if(inst!=null){%><%= inst.replace_calledtrim %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.replace_calledtrim!=null){%><%= msg.replace_calledtrim%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.replace_calledappend!=null){%>error<%}%>"> 
							<label class="control-label" for="replace_calledappend">追加替换 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="replace_calledappend" name="replace_calledappend" value="<% if(inst!=null){%><%= inst.replace_calledappend %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.replace_calledappend!=null){%><%= msg.replace_calledappend%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.process_mode!=null){%>error<%}%>"> 
							<label class="control-label" for="process_mode">处理方式 </label> 
							<div class="controls"> 
							
							
							
							
														
														
							
							
							
							
							 <select id="process_mode" name="process_mode" data-rel="chosen">
							
							<option value="1"  <% if(inst!=null && inst.process_mode=='1' ){%> selected='selected'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> >
							 本地处理 
							</option> 
							
							<option value="2"  <% if(inst!=null && inst.process_mode=='2' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 拨打外线 
							</option> 
							
							<option value="0"  <% if(inst!=null && inst.process_mode=='0' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 黑名单 
							</option> 
							
								  </select> 
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.process_defined!=null){%>error<%}%>"> 
							<label class="control-label" for="process_defined">处理定义 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="process_defined" name="process_defined" value="<% if(inst!=null){%><%= inst.process_defined %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.process_defined!=null){%><%= msg.process_defined%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">


</script>	

<script type="text/javascript">


</script>		
	