
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/checkservice/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>座席评分</legend> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.agtnum!=null){%>error<%}%>"> 
							<label class="control-label" for="agtnum">分机号 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="agtnum" name="agtnum" value="<% if(inst!=null){%><%= inst.agtnum %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.agtnum!=null){%><%= msg.agtnum%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.point!=null){%>error<%}%>"> 
							<label class="control-label" for="point">主角号码 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="point" name="point" value="<% if(inst!=null){%><%= inst.point %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.point!=null){%><%= msg.point%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.cdrid!=null){%>error<%}%>"> 
							<label class="control-label" for="cdrid">呼叫编号 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="cdrid" name="cdrid" value="<% if(inst!=null){%><%= inst.cdrid %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.cdrid!=null){%><%= msg.cdrid%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.crttime!=null){%>error<%}%>"> 
							<label class="control-label" for="crttime">呼叫时间 </label> 
							<div class="controls"> 
							
							
							
							<input type="text" class="input-xlarge datepicker" id="crttime" name="crttime" value="<% if(inst!=null){%><%= inst.crttime %>   <% }%>" /> 
							<span class="help-inline"><%if(msg!=null && msg.crttime!=null){%><%= msg.crttime%><%}%></span>
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">


</script>	

<script type="text/javascript">


</script>		
	