<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/AreaCodeTown/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/AreaCodeTown/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/AreaCodeTown/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>行政镇（乡）</legend> 
							
							<div class="control-group"> 
							<label class="control-label" for="TownName">镇（乡）名称 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['TownName']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="ParentID">上级行政 </label> 
							<div class="controls"> 
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="Sequence">排序 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['Sequence']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
						
							
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>