<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h4 class="alert-heading">注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>

<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/AreaCodeTown/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/AreaCodeTown/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a>  
						 </div>
						  <fieldset> 
							<legend>行政镇（乡）</legend> 
														<div class="control-group <%if(msg!=null && msg.TownName!=null){%>error<%}%>"> 
							<label class="control-label" for="TownName">镇（乡）名称 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="TownName" name="TownName" value="<% if(inst!=null){%><%= inst.TownName %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.TownName!=null){%><%= msg.TownName%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.Sequence!=null){%>error<%}%>"> 
							<label class="control-label" for="Sequence">排序 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="Sequence" name="Sequence" value="<% if(inst!=null){%><%= inst.Sequence %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.Sequence!=null){%><%= msg.Sequence%><%}%></span>
							 </div> 
							</div> 
						    <input type="hidden" id="id" name="id" value="<% if(inst!=null){%><%= inst.id %><% }%>" />
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
				<script type="text/javascript"><!--


</script>

<script type="text/javascript">


</script>
