<script type="text/javascript"><!--
    $().ready(function () {

    });
      
        $(document).ready(function() 
          {
              //$('#Tip').hide();//显示操作提示的元素不可见
              $('#form1').submit(function()//提交表单
              {
                  //alert("ddd");
                  var options = { 
                //  target:'#Tip', //后台将把传递过来的值赋给该元素
                  url:'index', //提交给哪个执行
                  type:'POST', 
                  success: function(result,status){
                      if(result.success)
                      {
                      $("#savesuccess").click();
                      $("#id").val(result.id);
                      }
                      else
                      $("#saveerror").click();
                      } //显示操作提示
                  }; 
                  $('#form1').ajaxSubmit(options); 
                  return false; //为了不刷新页面,返回false，反正都已经在后台执行完了，没事！

                 

              });  
            $('#submit').click(function(){
               // alert(11);
                $('#form1').submit();
                });  
          }
       );
  
   
    function startfaq(id) {
       
        parent.myLib.desktop.win.newWin({
            WindowTitle: '知识库',
            iframSrc: '/Faq?faqCodeId='+id,
            WindowsId: "_知识库",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });
    }
    
    function historyzx() {
        var customid = $("#id").val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '历史咨询',
            iframSrc: '/ConsultRecords?cID=' + customid,
            WindowsId: customid+"_历史咨询",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });

    }

    function historyyy() {
        var customid = $("#id").val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '历史工单',
            iframSrc: '/OrderRecords?cID=' + customid,
            WindowsId: customid + "_历史工单",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });
    }

    function historyts() {
        var customid = $("#id").val();
        var uphone=$("#phone").val();
        var uaddr=$("#lifeAddr").val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '历史投诉',
            iframSrc: '/ComplaintRecords?CustomID=' + customid,
            WindowsId: customid + "_历史投诉",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });

    }

    function addconsult(){
        var customid = $("#id").val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '新增来电：<%= callmsg.caller%>的咨询记录',
            iframSrc: '/ConsultRecords/create?unid=<%= callmsg.unid%>&customid=' + customid,
            WindowsId: "咨询记录_<%= callmsg.unid%>",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });
    }
    function addorder() {
        var customid = $("#id").val();
        var uphone=$("#phone").val();
        var uaddr=$("#lifeAddr").val();

        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '新增来电：<%= callmsg.caller%>的工单记录',
            iframSrc: '/OrderRecords/create?unid=<%= callmsg.unid%>&customid=' + customid+'&uphone='+uphone+'&uaddr='+uaddr,
            WindowsId: "工单记录_<%= callmsg.unid%>",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });

    }

    function addts() {
        var customid = $("#id").val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '新增来电：<%= callmsg.caller%>的投诉建议记录',
            iframSrc: '/ComplaintRecords/create?unid=<%= callmsg.unid%>&customid=' + customid,
            WindowsId: "投诉建议记录_<%= callmsg.unid%>",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
                });

     

    }
</script>

<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content"><a href="javascript:historyzx();"
	class="btn btn-small btn-primary"> <i class=" icon-edit icon-white"></i>历史咨询</a>
<a href="javascript:historyyy();" role="button"
	class="btn btn-small btn-primary"> <i class="icon-tasks icon-white"></i>历史工单</a>
<a href="javascript:historyts();" role="button"
	class="btn btn-small btn-primary"> <i class="icon-tasks icon-white"></i>历史投诉</a>
<a href="#" role="button" class="btn btn-small btn-warning"> <i
	class="icon-book icon-white"></i>知识库-></a> <a
	href="javascript:startfaq(1);" role="button"
	class="btn btn-small btn-primary"> <i class="icon-flag icon-white"></i>政策法规</a>
<a href="javascript:startfaq(2);" role="button"
	class="btn btn-small btn-primary"> <i class="icon-tint icon-white"></i>供水服务</a>
<a href="javascript:startfaq(3);" role="button"
	class="btn btn-small btn-primary"> <i
	class="icon-wrench icon-white"></i>供水技术</a></div>
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-header well">
<h2><i class="icon-th"></i> 基本信息</h2>
<div class="box-icon"><a href="#"
	class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
</div>
</div>
</div>
<form class="form-horizontal" method="post" id="form1" name="form1">
<div class="box-content span6">
<div class="control-group<%if(error!=null &&
error.cname!=null){%>error<%}%>"> <label class="control-label"
	for="cname">用户姓名 </label>
<div class="controls"><input type="text" class="span12" id="cname" name="cname" value="<% if(inst!=null && inst.cname!=null){%><%=inst.cname %><% }else{%>无<%}%>" /> <span class="help-inline"><%if(error!=null
&& error.cname!=null){%><%= error.cname%><%}%></span></div>
</div>
<div class="control-group<%if(error!=null &&
error.idcard!=null){%>error<%}%>"> <label class="control-label"
	for="idcard">用户号 </label>
<div class="controls"><input type="text" class="span12"
	id="idcard" name="idcard" value="<% if(inst!=null &&
inst.idcard!=null){%><%= inst.idcard %><% }%>" /> <span
	class="help-inline"><%if(error!=null &&
error.idcard!=null){%><%= error.idcard%><%}%></span></div>
</div>
<div class="control-group<%if(error!=null &&
error.workunit!=null){%>error<%}%>"> <label class="control-label"
	for="workunit">水表口径 </label>
<div class="controls"><input type="text" class="span12"
	id="workunit" name="workunit" value="<% if(inst!=null &&
inst.workunit!=null){%><%= inst.workunit %><% }%>" /> <span
	class="help-inline"><%if(error!=null &&
error.workunit!=null){%><%= error.workunit%><%}%></span></div>
</div>

<div class="control-group<%if(error!=null &&
error.lifeAddr!=null){%>error<%}%>"> <label class="control-label"
	for="lifeAddr">用水地址 </label>
<div class="controls"><textarea class="span12 autogrow"
	id="lifeAddr" name="lifeAddr"><% if(inst!=null && inst.lifeAddr!=null){%><%= inst.lifeAddr %>   <% }%></textarea>

<span class="help-inline"><%if(error!=null &&
error.lifeAddr!=null){%><%= error.lifeAddr%><%}%></span></div>
</div>

</div>
<div class="box-content span6">
<div class="control-group<%if(error!=null &&
error.cage!=null){%>error<%}%>"> <label class="control-label" for="cage">用水性质</label>
<div class="controls"><input type="text" class="span12" id="cage"
	name="cage" value="<% if(inst!=null && inst.cage!=null){%><%=
inst.cage %><% }%>" /> <span class="help-inline"><%if(error!=null
&& error.cage!=null){%><%= error.cage%><%}%></span></div>
</div>
<div class="control-group<%if(error!=null &&
error.csex!=null){%>error<%}%>"> <label class="control-label" for="csex">用水情况
</label>
<div class="controls"><label class="radio"> <input
	type="radio" id="csex_0" name="csex" value="1" <% if(inst!=null
&& inst.csex=='1' ){%> checked='checked' <% } else if(inst==null){%>checked='checked' <% }else{ %> <% }%> /> 正常用水 </label> <label
	class="radio"> <input type="radio" id="csex_1" name="csex" value="0"<% if(inst!=null && inst.csex=='0' ){%>
checked='checked' <% } else if(inst==null){%> <% }else{ %> <% }%> />
欠费停水 </label></div>
</div>
<div class="control-group<%if(error!=null &&
error.work!=null){%>error<%}%>"> <label class="control-label" for="work">水表号
</label>
<div class="controls"><input type="text" class="span12" id="work"
	name="work" value="<% if(inst!=null && inst.work!=null){%><%=
inst.work %><% }%>" /> <span class="help-inline"><%if(error!=null
&& error.work!=null){%><%= error.work%><%}%></span></div>
</div>

<div class="control-group<%if(error!=null &&
error.phone!=null){%>error<%}%>"> <label class="control-label"
	for="phone">联系电话</label>
<div class="controls"><input type="text" class="span12" id="phone"
	name="phone" value="<% if(phone!=''){%><%= phone %><% }%>" /> <span class="help-inline"><%if(error!=null && error.phone!=null){%><%= error.phone%><%}%></span></div>
</div>
</div>
<div class="form-actions">
<button type="button" class="btn btn-primary" id="submit" name="submit">保存</button>
<button type="reset" class="btn">取消</button>
</div>
<input type="hidden" id="id" name="id" value="<% if(inst!=null
&& inst.id!=null){%><%= inst.id %><% }%>" /></form>
<div style="display: none">
<button id="savesuccess" name="savesuccess" class="btn btn-primary noty"
	data-noty-options='{"text":"保存成功！","layout":"topCenter","type":"success","animateOpen": {"opacity": "show"}}'>
<i class="icon-bell icon-white"></i> Top Center (fade)</button>
<button id="saveerror" name="saveerrir" class="btn btn-primary noty"
	data-noty-options='{"text":"保存失败！","layout":"topCenter","type":"error"}'><i
	class="icon-bell icon-white"></i> Top Right</button>
</div>
</div>
<div class="box-content"><a href="javascript:addconsult();"
	class="btn btn-small btn-primary"> <i class="icon-edit icon-white"></i>新建咨询</a>
<a href="javascript:addorder();" role="button"
	class="btn btn-small btn-primary" data-toggle="modal"> <i
	class="icon-tasks icon-white"></i>新建工单</a> <a href="javascript:addts();"
	role="button" class="btn btn-small btn-primary" data-toggle="modal">
<i class="icon-leaf icon-white"></i>投诉建议</a></div>
</div>
</div>
<script type="text/javascript">

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.id%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].uName + "</option>").appendTo("#optionMan");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#optionMan");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


</script>




