
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/WarterStopInfo/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>停水记录</legend> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.stopReson!=null){%>error<%}%>"> 
							<label class="control-label" for="stopReson">停水原因 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="stopReson" name="stopReson" value="<% if(inst!=null){%><%= inst.stopReson %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.stopReson!=null){%><%= msg.stopReson%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.smsTell!=null){%>error<%}%>"> 
							<label class="control-label" for="smsTell">短信内容 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="smsTell" name="smsTell" value="<% if(inst!=null){%><%= inst.smsTell %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.smsTell!=null){%><%= msg.smsTell%><%}%></span>
							
							
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.areaID!=null){%>error<%}%>"> 
							<label class="control-label" for="areaID">停水区域 </label> 
							<div class="controls"> 
							
							
							
							
														
														
							
							
							
							
							
							
							 <select id="areaID" name="areaID" data-rel="chosen">
						     </select> 
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.isres!=null){%>error<%}%>"> 
							<label class="control-label" for="isres">恢复供水 </label> 
							<div class="controls"> 
							
							
							
							
														
														
							
							
							
							<label class="radio"> 
									<input type="radio" id="isres_0" name="isres" value="0" <% if(inst!=null && inst.isres=='0' ){%> checked='checked'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> /> 
									未恢复 
							</label> 
							
							<label class="radio"> 
									<input type="radio" id="isres_1" name="isres" value="1" <% if(inst!=null && inst.isres=='1' ){%> checked='checked'   <% } else if(inst==null){%>    <% }else{ %> <% }%> /> 
									处理中 
							</label> 
							
							<label class="radio"> 
									<input type="radio" id="isres_2" name="isres" value="2" <% if(inst!=null && inst.isres=='2' ){%> checked='checked'   <% } else if(inst==null){%>    <% }else{ %> <% }%> /> 
									已恢复 
							</label> 
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.startTime!=null){%>error<%}%>"> 
							<label class="control-label" for="startTime">开始时间 </label> 
							<div class="controls"> 
							
							
							
							<input type="text" class="input-xlarge datepicker" id="startTime" name="startTime" value="<% if(inst!=null){%><%= inst.startTime %>   <% }%>" /> 
							<span class="help-inline"><%if(msg!=null && msg.startTime!=null){%><%= msg.startTime%><%}%></span>
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							<div class="control-group <%if(msg!=null && msg.endTime!=null){%>error<%}%>"> 
							<label class="control-label" for="endTime">预计结束时间 </label> 
							<div class="controls"> 
							
							
							
							<input type="text" class="input-xlarge datepicker" id="endTime" name="endTime" value="<% if(inst!=null){%><%= inst.endTime %>   <% }%>" /> 
							<span class="help-inline"><%if(msg!=null && msg.endTime!=null){%><%= msg.endTime%><%}%></span>
							
							
														
														
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/AreaCode',key:'id',value:'AreaName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.areaID%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].AreaName + "</option>").appendTo("#areaID");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].AreaName + "</option>").appendTo("#areaID");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


</script>	

<script type="text/javascript">


</script>		
	