
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/DepInfo/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>管理和设置部门信息</legend> 
							<div class="control-group <%if(msg!=null && msg.depName!=null){%>error<%}%>"> 
							<label class="control-label" for="depName">部门名称 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="depName" name="depName" value="<% if(inst!=null){%><%= inst.depName %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.depName!=null){%><%= msg.depName%><%}%></span>
																					 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.memo!=null){%>error<%}%>"> 
							<label class="control-label" for="memo">备注 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="memo" name="memo" value="<% if(inst!=null){%><%= inst.memo %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.memo!=null){%><%= msg.memo%><%}%></span>
																					 </div> 
							</div> 
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">


</script>	

<script type="text/javascript">


</script>		
	