<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/DepInfo/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/DepInfo/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/DepInfo/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>管理和设置部门信息</legend> 
							<div class="control-group"> 
							<label class="control-label" for="depName">部门名称 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['depName']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="memo">备注 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['memo']%></span>
							 </div> 
							</div> 
						
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>