<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h4 class="alert-heading">注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>

<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/voicefiles/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/voicefiles/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a>  
						 </div>
						  <fieldset> 
							<legend>语音文件</legend> 
														<div class="control-group <%if(msg!=null && msg.filename!=null){%>error<%}%>"> 
							<label class="control-label" for="filename">文件名 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="filename" name="filename" value="<% if(inst!=null){%><%= inst.filename %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.filename!=null){%><%= msg.filename%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.extname!=null){%>error<%}%>"> 
							<label class="control-label" for="extname">扩展名 </label> 
							<div class="controls"> 
							 <select id="extname" name="extname" data-rel="chosen">
							<option value="sip" <% if(inst!=null && inst.extname=='sip' ){%> selected='selected'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> >
							 SIP外线 
							</option> 
							<option value="iax" <% if(inst!=null && inst.extname=='iax' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 IAX2外线 
							</option> 
							<option value="fxo" <% if(inst!=null && inst.extname=='fxo' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 FXO外线 
							</option> 
							<option value="pri" <% if(inst!=null && inst.extname=='pri' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 PRI外线 
							</option> 
							<option value="custom" <% if(inst!=null && inst.extname=='custom' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 自定义 
							</option> 
								  </select> 
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.description!=null){%>error<%}%>"> 
							<label class="control-label" for="description">描述 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="description" name="description" value="<% if(inst!=null){%><%= inst.description %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.description!=null){%><%= msg.description%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.label!=null){%>error<%}%>"> 
							<label class="control-label" for="label">标签 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="label" name="label" value="<% if(inst!=null){%><%= inst.label %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.label!=null){%><%= msg.label%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.associate!=null){%>error<%}%>"> 
							<label class="control-label" for="associate">关联 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="associate" name="associate" value="<% if(inst!=null){%><%= inst.associate %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.associate!=null){%><%= msg.associate%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.isreadonly!=null){%>error<%}%>"> 
							<label class="control-label" for="isreadonly">系统只读 </label> 
							<div class="controls"> 
							<label class="radio"> 
									<input type="radio" id="isreadonly_0" name="isreadonly" value="0"  <% if(inst!=null && inst.isreadonly=='0' ){%> checked='checked'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> /> 
									否
							</label> 
							<label class="radio"> 
									<input type="radio" id="isreadonly_1" name="isreadonly" value="1"  <% if(inst!=null && inst.isreadonly=='1' ){%> checked='checked'   <% } else if(inst==null){%>     <% }else{ %> <% }%> /> 
									是
							</label> 
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.args!=null){%>error<%}%>"> 
							<label class="control-label" for="args">参数 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="args" name="args" value="<% if(inst!=null){%><%= inst.args %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.args!=null){%><%= msg.args%><%}%></span>
							 </div> 
							</div> 
						    <input type="hidden" id="id" name="id" value="<% if(inst!=null){%><%= inst.id %><% }%>" />
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
				<script type="text/javascript"><!--


</script>

<script type="text/javascript">


</script>
