<div class="container-fluid">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="POST">
    <fieldset>
        <div class="span12">
            <div class="control-group">
                <label class="control-label" for="id">范围类型 </label>
                <div class="controls">
                    <label class="radio"> <input type="radio" id="day" name="iswork" value=0 />日</label>
                    <label class="radio"> <input type="radio" id="weakly" name="iswork" value=1 />周</label>
                    <label class="radio"> <input type="radio" id="month" name="iswork" value=2 />月</label>
                    <label class="radio"> <input type="radio" id="jidu" name="iswork" value=3 />季度</label>
                    <label class="radio"> <input type="radio" id="year" name="iswork" value=4 />年</label>
                </div>
            </div>
        </div>

        <div class="span12">
            <div class="control-group">
                <label class="control-label" for="dactorName">周期范围</label>
                <div class="controls">
                    <select id="dactorName" name="dactorName">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="span12">
            <div class="control-group span6">
                <label class="control-label" for="dayform">日期范围 从</label>
                <div class="controls">
                    <input type="text" name="dayform" class="typeahead datepicker" id="dayfrom" value="" />
                </div>
            </div>
            <div class="control-group span6">
                <label class="control-label" for="dayto">到</label>
                <div class="controls">
                    <input type="text" class="typeahead datepicker" name="dayto" id="dayto" value="" />
                </div>
            </div>
            <div class="span12">
                <button type="button" class="btn btn-small btn-info" onclick="javascript:starttj();">开始统计</button>
            </div>
    </fieldset>
</form>
</div>
</div>
</div>



<div class="row-fluid sortable">
<div class="box span12">
<div class="box-header well" data-original-title>
<h2><i class="icon-user"></i> 统计结果</h2>
<div class="box-icon"><a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
</div>
</div>
<div class="box-content">
<table class="table table-striped table-bordered bootstrap-datatable datatable" id="datatable">
	<caption></caption>
	<thead>
        <tr><td colspan="<%= Agent.length%>">说明：各项数据依次代表【<span style="color:blue;">呼入</span>|<span style="color:red;">呼出</span>】</td></tr>
		<tr>
			<th id='thshow' style='width:8%;'>

<table>
    <tr><td colspan='3'  align="center">星期\座席</td></tr>
    <tr><td colspan='3' style="height:55px;"></td></tr>
</table>
            </th>
            <%for(var i=0;i<Agent.length;i++){%>
            <th style='width:80px;'>
<table>
    <tr><td colspan='3'  align="center"><%= Agent[i].uName%></td></tr>
    <tr><td style='width:5px;color:blue;'>呼入</td>
        <td style='width:5px;color:red;'>呼出</td></tr>
</table>
            </th>
            <%}%>
			<th>
<table>
    <tr><td colspan='3'  align="center" style='width:8%;'>总计</td></tr>
    <tr><td style='width:5px;color:blue;'>呼入</td>
        <td style='width:5px;color:red;'>呼出</td></tr>
</table>
            </th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
</div>
</div>
</div>
<script type="text/javascript">
function starttj(){
var tjtype=$('input[name="iswork"]:checked').val() || -1;
var tjvalue=$('#dactorName').val();
var dayfrom=$('#dayfrom').val();
var dayto=$('#dayto').val();

if(tjtype ==-1)
{
alert('请选择统计类型');
return;
}
var clms="<%for(var i=0;i<Agent.length;i++){%><%= Agent[i].uExten%>,<%}%>";
clms+="zj";
var aoColumns=[
{ mData: "tags", sClass: "center",bSearchable: false }, 
<%for(var i=0;i<Agent.length;i++){%>
            {mData:"<%= Agent[i].uExten%>", sClass: "center",bSearchable: false },
            <%}%>
               { mData: "zj", sClass: "center",bSearchable: false }
               ];
var daochu=[];
var showcols=[];
for(var i=0;i<aoColumns.length;i++){
	daochu[i]=i;
    if(i!=0)
        showcols[i-1]=i;

}

$('#datatable').dataTable({
	sDom: " <'row-fluid'<'span4'l><'span4'f><'span4'T>r>t<'row-fluid'<'span4'i><'span8 center'p>>",
	sPaginationType: "bootstrap",
	bDestroy:true,
	oLanguage: {
	sLengthMenu: "每页显示 _MENU_ 条记录",
    sZeroRecords: "对不起，查询不到任何相关数据",
    sInfo: "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
    sInfoEmtpy: "找不到相关数据",
    //"sInfoFiltered": "数据表中共为 _MAX_ 条记录",  
    sProcessing: "正在加载中...",
    sSearch: "搜索",
    sInfoEmpty: "显示 0 至 0 共 0 项",
    oPaginate: { "sFirst": "第一页", "sPrevious": "上一页 ", "sNext": "下一页 ", "sLast": "末页 " }
	},
    bProcessing: true,
    bServerSide: true,
    bSort: false,
    bFilter:false,
    bPaginate:false,
    sAjaxSource: "/selectdb/callreportchart?tjtype="+tjtype+"&tjvalue="+tjvalue+"&clomuns="+clms+"&dayfrom="+dayfrom+"&dayto="+dayto,
    aoColumns:aoColumns ,
    aoColumnDefs: [{
                       aTargets:showcols,
                       mRender: function (data, type,full) {
                       var str='<span style="color:blue;">'+data[0]+'</span>';
                           str+="|";
                           str+='<span style="color:red;">'+data[1]+'</span>';
                           

                       return str;
                       }
                    }],
             oTableTools: {
             sSwfPath: "/css/swf/copy_csv_xls_pdf.swf",
             aButtons: [                          
            {
                 					"sExtends":    "collection",
                 					"sButtonText": '导出 <span class="caret" />',
                 					"aButtons":    [ "xls"],
                 					"mColumns": daochu
                 				},{
      "sExtends":"text",
      "sButtonText": "新开窗口" ,
      "fnClick": function ( nButton, oConfig, oFlash ) {
                       window.open('/chart/callreports');
                    }
     },{
      "sExtends":"print",
      "sButtonText": "打印结果" ,
      "sInfo": "<h6>打印本页</h6><p>请使用浏览器的打印功能 " + "打印本页. 按ESC键退出.</p>",
      //"sMessage": "列表打印",
      "bShowAll": true
     }
                                
                                                   
                              ]
	}

} );
} 
</script>
<script type="text/javascript">

 Date.prototype.getWeek   =   function(flag) 
{ 
    var   first   =   new   Date(this.getFullYear(),0,1); 
    var   n   =   parseInt("1065432".charAt(first.getDay())); 
    n   =   this.getTime()-first.getTime()-n*24*60*60*1000; 
    n   =   Math.ceil(n/(7*24*60*60*1000)); 
    return   (flag==true&&first.getDay()!=1)?(n+1):n; 
}; 
Date.prototype.format   =   function(format) 
{ 
    var   o   =   { 
        "M+"   :   this.getMonth()+1,   //month 
        "d+"   :   this.getDate(),         //day 
        "h+"   :   this.getHours(),       //hour 
        "m+"   :   this.getMinutes(),   //minute 
        "s+"   :   this.getSeconds(),   //second 
        "q+"   :   Math.floor((this.getMonth()+3)/3),     //quarter 
        "S"   :   this.getMilliseconds()   //millisecond 
    } 
    if(/(y+)/.test(format))   format=format.replace(RegExp.$1, 
        (this.getFullYear()+ "").substr(4   -   RegExp.$1.length)); 
    for(var   k   in   o)if(new   RegExp( "("+   k   + ")").test(format)) 
        format   =   format.replace(RegExp.$1, 
            RegExp.$1.length==1   ?   o[k]   :   
                ("00"+   o[k]).substr(( ""+   o[k]).length)); 
    return   format; 
}; 
//$(
$("input[name='iswork']").bind("click",function(){		
var ckval=$('input[name="iswork"]:checked').val();
$("#dactorName").empty();
    //alert(ckval);
if(ckval==="0"){
    $('#thshow').html('日期\\座席');
}
if(ckval==="1"){
	var now = new Date(); //当前日期 
	var nowDayOfWeek = now.getDay(); //今天本周的第几天 
	var nowDay = now.getDate(); //当前日 
	var nowMonth = now.getMonth(); //当前月 
	var nowYear = now.getFullYear(); //当前年 
	$('#thshow').html('星期\\座席');
var i=1;
	while(i<53){
		var d=mm(nowYear,i);
		$("<option value='" + d.week + "'  >" + d.str + "</option>").appendTo("#dactorName");
		i++;
	}
	
}
if(ckval==="2"){
var i=1;
$('#thshow').html('日期\\座席');
while(i<13){
	$("<option value='" + i + "'  >" + i + "月</option>").appendTo("#dactorName");
	i++;	
}
}
if(ckval==="3"){
var i=1;
$('#thshow').html('季度\\座席');
while(i<5){
    $("<option value='" + i + "'>第" + i + "季度</option>").appendTo("#dactorName");
    i++;    
}
}
if(ckval==="4"){
    var now = new Date(); //当前日期 
	var nowYear = now.getFullYear(); //当前年 
	var ty=nowYear+5;
	$('#thshow').html('月份\\座席');
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear+4;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear+3;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear+2;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear+1;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	$("<option value='" + nowYear + "' selected='selected' >" + nowYear + "年</option>").appendTo("#dactorName");
	 ty=nowYear-1;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear-2;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear-3;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear-4;
	$("<option value='" + ty+ "'  >" + ty + "年</option>").appendTo("#dactorName");
	 ty=nowYear-5;
	$("<option value='" + ty + "'  >" + ty + "年</option>").appendTo("#dactorName");
	
}
});
//);
//格局化日期：yyyy-MM-dd 
function formatDate(date) { 
var myyear = date.getFullYear(); 
var mymonth = date.getMonth()+1; 
var myweekday = date.getDate();

if(mymonth < 10){ 
mymonth = "0" + mymonth; 
} 
if(myweekday < 10){ 
myweekday = "0" + myweekday; 
} 
return (myyear+"-"+mymonth + "-" + myweekday); 
}


function mm(year,week) 
{ 
       // var   year   =   document.getElementById("year").value; 
        //var   week   =   document.getElementById("week").value; 
        if(year==""||week=="")   return;
        var   d   =   new   Date(year,0,1); 
        var currentDay=d.getDay();

        if(currentDay==0){currentDay=7}
        d.setDate(currentDay==1?((week-1)*7+currentday):(7-currentDay+2  +   (week-1)*7)); 
        var   fe   =   getFirstAndEnd(d); 
        var str='第'+week+'周:';
        str+= fe.first.format("yyyy年MM月dd日")+ '~'; 
        str+=  fe.end.format("yyyy年MM月dd日"); 
        return {week:week,str:str};
}


function   getFirstAndEnd(d) 
{ 
    var   w   =   d.getDay(),   n   =   24*60*60*1000; 
    if(w==0) w=7;
    var   first   =   new   Date(d.getTime()   -   (w-1)*n); 
    var   end   =   new   Date(d.getTime()   +   (7-w)*n); 
    return   {first:first,   end:end}; 
}


</script>
