<script type="text/javascript">
	$(function(){
$('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '话务统计'
        },
        xAxis: {
            categories: [<%= Agent%>]
        },
        yAxis: {
            title: {
                text: '通话次数'
            }
        },
        series: [{
            name: '呼入',
            data: [<%= Outcall%>]
        }, {
            name: '呼出',
            data: [<%= Incall%>]
        }],
        credits:{
            enabled:true,
            text:'清源水务',
            href:'www.ybqysw.com'
        }
    });
	});
</script>
<form class="form-horizontal" method="POST">
<fieldset>
    <legend>话务统计</legend>
    <input type="hidden" name="agents" id="agents" value="<%= Agent.join(',')%>" />
    <div class="box-content span5">
<div class="control-group"><label class="control-label" for="Timefrom">通话时间 从</label>
<div class="controls">
 <input type="text" class="input-xlarge datepicker" id="Timefrom" name="Timefrom" value="<%= where.Timefrom%>"> 
     </div>
</div>
</div>
<div class="box-content span5">
<div class="control-group"><label class="control-label" for="Timeto">到</label>
<div class="controls">
<input type="text" class="input-xlarge datepicker" id="Timeto" name="Timeto" value="<%= where.Timeto%>">
     </div>
</div>
</div>

<div  class="box-content span2">
<button type="submit" class="btn btn-small btn-info">统计</button>
</div>
</fieldset>
</form>
<div id="container" style="min-width:800px;height:400px;">	
</div>