
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/conference/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>电话会议室</legend> 
							<div class="control-group <%if(msg!=null && msg.confno!=null){%>error<%}%>"> 
							<label class="control-label" for="confno">会议号码 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="confno" name="confno" value="<% if(inst!=null){%><%= inst.confno %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.confno!=null){%><%= msg.confno%><%}%></span>
																					 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.pincode!=null){%>error<%}%>"> 
							<label class="control-label" for="pincode">会议密码 </label> 
							<div class="controls"> 
							<input type="password" class="span6" id="pincode" name="pincode" />
							<span class="help-inline"><%if(msg!=null && msg.pincode!=null){%><%= msg.pincode%><%}else{%>密码不能少于8位<%}%></span>
							<input type="password" class="span6" id="pincode_ag" name="pincode_ag" >
							<span class="help-inline">密码输入确认</span>
																					 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.playwhenevent!=null){%>error<%}%>"> 
							<label class="control-label" for="playwhenevent">静音模式 </label> 
							<div class="controls"> 
																					<label class="radio"> 
									<input type="radio" id="playwhenevent_0" name="playwhenevent" value="1" <% if(inst!=null && inst.playwhenevent=='1' ){%> checked='checked'   <% } else if(inst==null){%>   checked=&quot;checked&quot;  <% }else{ %> <% }%> /> 
									是 
							</label> 
							<label class="radio"> 
									<input type="radio" id="playwhenevent_1" name="playwhenevent" value="0" <% if(inst!=null && inst.playwhenevent=='0' ){%> checked='checked'   <% } else if(inst==null){%>     <% }else{ %> <% }%> /> 
									否 
							</label> 
							 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.mohwhenonlyone!=null){%>error<%}%>"> 
							<label class="control-label" for="mohwhenonlyone">背景播放 </label> 
							<div class="controls"> 
																					<label class="radio"> 
									<input type="radio" id="mohwhenonlyone_0" name="mohwhenonlyone" value="1" <% if(inst!=null && inst.mohwhenonlyone=='1' ){%> checked='checked'   <% } else if(inst==null){%>   checked=&quot;checked&quot;  <% }else{ %> <% }%> /> 
									是 
							</label> 
							<label class="radio"> 
									<input type="radio" id="mohwhenonlyone_1" name="mohwhenonlyone" value="0" <% if(inst!=null && inst.mohwhenonlyone=='0' ){%> checked='checked'   <% } else if(inst==null){%>     <% }else{ %> <% }%> /> 
									否 
							</label> 
							 </div> 
							</div> 
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">


</script>	

<script type="text/javascript">


</script>		
	