<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/conference/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/conference/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/conference/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>电话会议室</legend> 
							<div class="control-group"> 
							<label class="control-label" for="cretime">创建时间 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['cretime']%></span> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="confno">会议号码 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['confno']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="pincode">会议密码 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['pincode']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="playwhenevent">静音模式 </label> 
							<div class="controls"> 
							<label class="radio"> 
									<input type="radio" readonly="readonly" class="uneditable-input" id="playwhenevent_0" name="playwhenevent" value="1" <%if(inst.playwhenevent=='1'){%>checked="checked"<%}%>  /> 
									是 
							</label> 
							<label class="radio"> 
									<input type="radio" readonly="readonly" class="uneditable-input" id="playwhenevent_1" name="playwhenevent" value="0" <%if(inst.playwhenevent=='0'){%>checked="checked"<%}%>  /> 
									否 
							</label> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="mohwhenonlyone">背景播放 </label> 
							<div class="controls"> 
							<label class="radio"> 
									<input type="radio" readonly="readonly" class="uneditable-input" id="mohwhenonlyone_0" name="mohwhenonlyone" value="1" <%if(inst.mohwhenonlyone=='1'){%>checked="checked"<%}%>  /> 
									是 
							</label> 
							<label class="radio"> 
									<input type="radio" readonly="readonly" class="uneditable-input" id="mohwhenonlyone_1" name="mohwhenonlyone" value="0" <%if(inst.mohwhenonlyone=='0'){%>checked="checked"<%}%>  /> 
									否 
							</label> 
							 </div> 
							</div> 
						
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>