
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/UserRole/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>管理和设置角色信息</legend> 
							<div class="control-group <%if(msg!=null && msg.roleName!=null){%>error<%}%>"> 
							<label class="control-label" for="roleName">角色名称 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="roleName" name="roleName" value="<% if(inst!=null){%><%= inst.roleName %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.roleName!=null){%><%= msg.roleName%><%}%></span>
																					 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.hasPtions!=null){%>error<%}%>"> 
							<label class="control-label" for="hasPtions">操作权限 </label> 
							<div class="controls"> 
																					 <select id="hasPtions" name="hasPtions" data-rel="chosen">
							<option value="1"  <% if(inst!=null && inst.hasPtions=='1' ){%> selected='selected'   <% } else if(inst==null){%>   checked=&quot;&quot;  <% }else{ %> <% }%> >
							 只读 
							</option> 
							<option value="3"  <% if(inst!=null && inst.hasPtions=='3' ){%> selected='selected'   <% } else if(inst==null){%>    <% }else{ %> <% }%> >
							 读写 
							</option> 
							<option value="7"  <% if(inst!=null && inst.hasPtions=='7' ){%> selected='selected'   <% } else if(inst==null){%>    <% }else{ %> <% }%> >
							 修改 
							</option> 
								  </select> 
							 </div> 
							</div> 
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">


</script>	

<script type="text/javascript">


</script>		
	