<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/UserRole/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/UserRole/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/UserRole/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>管理和设置角色信息</legend> 
							<div class="control-group"> 
							<label class="control-label" for="roleName">角色名称 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['roleName']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="hasPtions">操作权限 </label> 
							<div class="controls"> 
							 <select readonly="readonly" id="hasPtions" name="hasPtions" data-rel="chosen">
							<option  value="1"  <%if(inst.hasPtions=='1'){%>selected="selected"<%}%> >
							 只读 
							</option> 
							<option  value="3"  <%if(inst.hasPtions=='3'){%>selected="selected"<%}%> >
							 读写 
							</option> 
							<option  value="7"  <%if(inst.hasPtions=='7'){%>selected="selected"<%}%> >
							 修改 
							</option> 
								  </select> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="crtTime">创建时间 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['crtTime']%></span> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="lastModify">修改时间 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['lastModify']%></span> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="roleDetail">角色描述 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['roleDetail']%></span>
							 </div> 
							</div> 
						
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>