<script type="text/javascript"><!--
    $().ready(function () {

    });
      
        $(document).ready(function() 
          {
              //$('#Tip').hide();//显示操作提示的元素不可见
              $('#form1').submit(function()//提交表单
              {
                  //alert("ddd");
                  var cdid=$("#cdid").val();
                  var url="/jzy/screenPopInsert";
                  if(cdid!="")
                    url="/jzy/screenPopUpdate";
                  var options = { 
                //  target:'#Tip', //后台将把传递过来的值赋给该元素
                  url:url, //提交给哪个执行
                  type:'POST', 
                  success: function(result,status){
                      if(result.Code!=-1)
                      {
                      //$("#savesuccess").click();
                      var Card_id=$("#Card_id").val();
                      $("#Card_id").attr("readonly","readonly");
                      $("#cdid").val(Card_id);
                      alert(result.Message);
                      //$("#id").val(result.id);
                      }
                      else
                      //$("#saveerror").click();
                       alert(result.Message);
                      } //显示操作提示
                  }; 
                  $('#form1').ajaxSubmit(options); 
                  return false; //为了不刷新页面,返回false，反正都已经在后台执行完了，没事！                
              });

            $('#submit').click(function(){
               // alert(11);
                $('#form1').submit();
                });  
          }
       );
  
   
    function startfaq(id) {
       
        parent.myLib.desktop.win.newWin({
            WindowTitle: '知识库',
            iframSrc: '/Faq?faqCodeId='+id,
            WindowsId: "_知识库",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });
    }
    
    function historyzx() {
        var customid = $("#cdid").val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '历史咨询',
            iframSrc: '/ConsultRecords?cID=' + customid,
            WindowsId: customid+"_历史咨询",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });

    }

    function historyyy() {
        var customid = $("#cdid").val();
        if (customid == "") {
           // alert("请先保存来电者信息！");
            //return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '商品档案',
            iframSrc: '/jzy/shopinfo',
            WindowsId: "dddd" + "_商品档案",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });
    }



    function addconsult(){
        var customid = $("#cdid").val();
        var vipname=$('#Vip_name').val();
        if (customid == "") {
            alert("请先保存来电者信息！");
            return false;
        }
        parent.myLib.desktop.win.newWin({
            WindowTitle: '新增来电：<%= callmsg.caller%>的通话记录',
            iframSrc: '/jzy/createThjl?unid=<%= callmsg.unid%>&customid=' + customid+'&vipname='+vipname,
            WindowsId: "通话记录_<%= callmsg.unid%>",
            WindowAnimation: 'none',
            WindowWidth: 960,
            WindowHeight: 540
        });
    }
   
   function  play() {
    var unid=$('#unid').val();
    var filename='/SoundPlayer?filename='+unid;
    $("#playerframeid").attr("src", filename);
    $("#showplayer").modal("show");       
    }

</script>

<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content"><a href="javascript:historyzx();"
	class="btn btn-small btn-primary"> <i class=" icon-edit icon-white"></i>历史来电</a>
<a href="javascript:historyyy();" role="button"
	class="btn btn-small btn-primary"> <i class="icon-tasks icon-white"></i>已购商品</a>
<a href="javascript:play();" class="btn btn-small btn-warning">
            <i class="icon-music icon-white"></i>播放录音</a>           
</div>
</div>
</div>
<div class="row-fluid sortable">

<form class="form-horizontal" method="post" id="form1" name="form1">
<div class="box-content span12">
  <div class="span4"><span style="font-weight:bold;">基本信息</span></div>
  <div class="span6"></div>
  <div class="span2">
  <button type="button" class="btn btn-primary" id="addyy" name="addyy" onclick="javascript:addyy2();">已有客户</button>
  </div>
  <input type="hidden"  id="unid" name="unid" value="<%= callmsg.unid%>" />
</div>

<div class="span12">
<div class="box-content span5">
<div class="control-group"> <label class="control-label" for="Vip_name">客户姓名 </label>
<div class="controls"><input type="text" class="span12" id="Vip_name" name="Vip_name" value="<% if(inst!=null && typeof(inst.Vip_name)!=='object'){%><%=inst.Vip_name %><% }else{%><%}%>" /></div>
</div>
<div class="control-group"> <label class="control-label"
	for="Vip_sex">性别 </label>
<div class="controls">
<select id="Vip_sex" name="Vip_sex">
    <option value="男"  <%if(inst!=null && typeof(inst.Vip_sex)!=='object' && inst.Vip_sex == '男'){%>
        selected="selected"<%}%>>男</option>  
     <option value="女"  <%if(inst!=null && typeof(inst.Vip_sex)!=='object' && inst.Vip_sex == '女'){%>
        selected="selected"<%}%>>女</option>
</select>
</div>
</div>
<div class="control-group"> <label class="control-label"
	for="Company">单位名称 </label>
<div class="controls"><input type="text" class="span12"
	id="Company" name="Company" value="<% if(inst!=null && typeof(inst.Company)!=='object'){%><%= inst.Company%><%}%>" /> </div>
</div>

<div class="control-group"> <label class="control-label"
    for="Vip_tel">联系电话一</label>
<div class="controls"><input type="text" class="span12" id="Vip_tel"
    name="Vip_tel" value="<% if(inst!=null && typeof(inst.Vip_tel)!=='object'){%><%= inst.Vip_tel%><%}else{%><%= phone%><%}%>" /> </div>
</div>

<div class="control-group"> <label class="control-label"
    for="Mobile">联系电话二</label>
<div class="controls"><input type="text" class="span12" id="Mobile"
    name="Mobile" value="<% if(inst!=null && typeof(inst.Mobile)!=='object'){%><%= inst.Mobile%><%}%>" /> </div>
</div>

</div>
<div class="box-content span5">
<div class="control-group"> <label class="control-label" for="Card_id">会员卡号</label>
<div class="controls"><input type="text" class="span12" id="Card_id"
    name="Card_id" value="<%if(inst!=null && typeof(inst.Card_id)!=='object'){%><%= inst.Card_id%><%}%>" /> </div>
<input type="hidden" id="cdid" name="cdid" value="<%if(inst!=null && typeof(inst.Card_id)!=='object'){%><%= inst.Card_id%><%}%>"/>
</div>



<div class="control-group"> <label class="control-label" for="Card_type">卡类型
</label>
<div class="controls">
<select id="Card_type" name="Card_type">
  <option value=0  <%if(inst!=null && typeof(inst.Card_type)!=='object' && inst.Card_type == 4){%>
        selected="selected"<%}%>>普通卡</option> 
    <option value=0  <%if(inst!=null && typeof(inst.Card_type)!=='object' && inst.Card_type == 0){%>
        selected="selected"<%}%>>会员卡</option>  
     <option value=1  <%if(inst!=null && typeof(inst.Card_type)!=='object' && inst.Card_type == 1){%>
        selected="selected"<%}%>>单位88</option>
     <option value=2  <%if(inst!=null && typeof(inst.Card_type)!=='object' && inst.Card_type == 2){%>
        selected="selected"<%}%>>单位85</option>
        <option value=3 <%if(inst!=null && typeof(inst.Card_type)!=='object' && inst.Card_type == 3){%>
        selected="selected"<%}%>>单位82</option>
</select>
</div>
</div>

<div class="control-group"> <label class="control-label" for="Discount">折扣
</label>
<div class="controls"><input type="text" class="span12" readonly="readonly" id="Discount"
    name="Discount" value="<% if(inst!=null && typeof(inst.Discount)!=='object'){%><%=
inst.Discount %><% }%>" /> </div>
</div>

<div class="control-group"> <label class="control-label"
    for="Vip_add">联系地址</label>
<div class="controls"><input type="text" class="span12" id="Vip_add"
    name="Vip_add" value="<% if(inst!=null && typeof(inst.Vip_add)!=='object'){%><%= inst.Vip_add%><%}%>" /> </div>
</div>


<div class="control-group"> <label class="control-label"
    for="Jbr">经办人 </label>
<div class="controls"><textarea class="span12 autogrow"
    id="Jbr" name="Jbr"><% if(inst!=null && typeof(inst.Jbr)!=='object'){%><%= inst.Jbr %>   <% }%></textarea>
</div>
</div>

</div>
</div>
<div class="box-content span12">
  <div class="span4"><span style="font-weight:bold;">通话记录</span></div>
  <div class="span6"></div>
  <div class="span2">
  </div>

</div>
 
<div class="box-content span12">
<div class="box-content span5">
              <div class="control-group"> 
              <label class="control-label" for="content">通话内容 </label> 
              <div class="controls"> 
              <textarea  id="content" name="content"></textarea>
              
                                           </div> 
              </div> 
              <div class="control-group"> 
              <label class="control-label" for="donesth">处理内容</label> 
              <div class="controls"> 
              <textarea  id="donesth" name="donesth"></textarea>
              </div> 
              </div> 

             
            </div>
<div class="box-content span5">
            
             <div class="control-group"> 
              <label class="control-label" for="dostate">处理状态 </label> 
              <div class="controls"> 
              <select id="dostate" name="dostate">
              <option value='0'>未处理</option>
              <option value='1'>处理中</option>
              <option value='2'>已处理</option>
                 </select> 
               </div> 
              </div> 

              <div class="form-actions">
<button type="button" class="btn btn-primary" id="submit" name="submit">保存</button>
</div>
            </div>
              
</div>

</form>
<div style="display: none">
<button id="savesuccess" name="savesuccess" class="btn btn-primary noty"
	data-noty-options='{"text":"保存成功！","layout":"topCenter","type":"success","animateOpen": {"opacity": "show"}}'>
<i class="icon-bell icon-white"></i> Top Center (fade)</button>
<button id="saveerror" name="saveerrir" class="btn btn-primary noty"
	data-noty-options='{"text":"保存失败！","layout":"topCenter","type":"error"}'><i
	class="icon-bell icon-white"></i> Top Right</button>
</div>
</div>
  <!--
<div class="box-content">
  <a href="javascript:addconsult();"
	class="btn btn-small btn-primary"> <i class="icon-edit icon-white"></i>新建来电</a>
  
<a href="javascript:addorder();" role="button"
	class="btn btn-small btn-primary" data-toggle="modal"> <i
	class="icon-tasks icon-white"></i>新建工单</a> <a href="javascript:addts();"
	role="button" class="btn btn-small btn-primary" data-toggle="modal">
<i class="icon-leaf icon-white"></i>投诉建议</a>

</div>
-->
</div>
</div>




<div id="mysearch" class="modal hide fade" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<h3>符合条件的客户档案列表</h3>
<table id='selectcustom'> 
</table>
</div>
</div>
</div>
</div>

</div>


<script type="text/javascript">
function addyy1(){
    alert(1);
}
function addyy2(){
var where='';
where+='Vip_name='+$('#Vip_name').val();
where+='&'+'Card_id'+$('#Card_id').val();
where+='&'+'Jbr'+$('#Jbr').val();
   $.ajax(
                {
                    url: '/jzy/getCustoms?'+where,
                    dataType: 'json',
                    type: 'POST',
                    async: false,
                   // data:{ids:ids},
                    success: function (data, textStatus) {                      
                            //alert(data.aaData);
                            if(typeof(data.aaData)==='object' && Object.prototype.toString.call(data.aaData) !== '[object Array]' &&　data.aaData!=null){
                                $("#selectcustom").html('');
                                var str="<tr><th>客户姓名</th><th>会员卡号</th><th>工作单位</th><th>操作</th></tr>";
                                //for(var iii in data.aaData){
                                    //alert(iii);
                                    str+="<tr>";
                                    str+="<td>"+data.aaData.Vip_name+"</td>";
                                    str+="<td>"+data.aaData.Card_id+"</td>";
                                    if(typeof(data.aaData.Company)==='object'){
    str+="<td>————</td>";

}else{
str+="<td>"+data.aaData.Company+"</td>";
}
   
                                    str+="<td><a href=javascript:setselect('"+data.aaData.Card_id+"');>选择</a></td>";
                                     str+="</tr>"

                                if(data.aaData.Vip_name==""){
                                  
                                }

                                //}
                                 $("#selectcustom").html(str); 
                                 $('#mysearch').modal('show');


                            }
                            else if(Object.prototype.toString.call(data.aaData) === '[object Array]') {
                                 $("#selectcustom").html('');
                                var str="<tr><th>客户姓名</th><th>会员卡号</th><th>工作单位</th><th>操作</th></tr>";
                                for(var i=0;i<data.aaData.length;i++){
                                    
                                    str+="<tr>";
                                    str+="<td>"+data.aaData[i].Vip_name+"</td>";
                                    str+="<td>"+data.aaData[i].Card_id+"</td>";
                                    if(typeof(data.aaData[i].Company)==='object'){
    str+="<td>————</td>";

}else{
str+="<td>"+data.aaData[i].Company+"</td>";
}
                                    
                                    str+="<td><a href=javascript:setselect('"+data.aaData[i].Card_id+"');>选择</a></td>";
                                     str+="</tr>";

                                if(i==data.aaData.length-1){
                                 $("#selectcustom").html(str); 
                                 $('#mysearch').modal('show');
                                  
                                }

                                }
                                 

                            }
                            else{
                               alert("没有找到适合的客户档案。"); 
                            }                          
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('服务器访问发生异常！' + textStatus);
                        return;
                    }
                }
                );    
}

function setselect(card_id){
 $.ajax(
                {
                    url: '/jzy/getCustomById',
                    dataType: 'json',
                    type: 'POST',
                    async: false,
                    data:{id:card_id},
                    success: function (data, textStatus) {  
                    if(data!=null) {
                        if(typeof(data.Vip_name)==='object')
                            $('#Vip_name').val("");
                        else
                       $('#Vip_name').val(data.Vip_name);
                   if(typeof(data.Card_id)==='object')
                    $('#Card_id').val("");
else


                       $('#Card_id').val(data.Card_id);

                   if(typeof(data.Vip_sex)==='object')
                     $('#Vip_sex').val(""); 
                 else

                       $('#Vip_sex').val(data.Vip_sex); 

                   if(typeof(data.Card_id)==='object')
                    $('#Jbr').val(""); 
                    else
                       $('#Jbr').val(data.Jbr); 

                   if(typeof(data.Card_type)!=='object')
                       $('#Card_type').val(data.Card_type);

                   if(typeof(data.Company)==='object')
                     $('#Company').val("");
                    else
                       $('#Company').val(data.Company);

                   $("#cdid").val(data.Card_id);


                       $('#mysearch').modal('hide');


                    }
                    else{
                        alert("通过会员卡号重新绑定客户档案失败！");
                    }                   
                                                  
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('服务器访问发生异常！' + textStatus);
                        return;
                    }
                }
                );   
}



</script>




<div id="showplayer" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
  aria-hidden="true">×</button>
<h3 id="myModalLabel">录音播放</h3>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<iframe id="playerframeid"></iframe>
</div>
</div>
</div>
</div>

</div>