<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/recordfiles/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/recordfiles/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/recordfiles/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>录音记录</legend> 
							<div class="control-group"> 
							<label class="control-label" for="filename">文件名 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['filename']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="extname">扩展名 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['extname']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="filesize">文件大小 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['filesize']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="associate">关联编号 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['associate']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="calltype">呼叫类型 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['calltype']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="cretime">记录时间 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['cretime']%></span> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="extennum">分机号 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['extennum']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="folder">文件夹 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['folder']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="doymicac">动态帐号 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['doymicac']%></span>
							 </div> 
							</div> 
						
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>