<script type="text/javascript">
	$(function(){
$("#agentname").val(parent._USERNAME);
	});
</script>
<div class="container-fluid"><%if(msg!=null){%>
<div class="alert alert-block">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<h4>注意!</h4>
<%= util.inspect(msg,false,null)%></div>
<%}%>

<div class="container-fluid">

<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="POST">
<fieldset><legend>新建工单</legend> <input type="hidden"
	id="callUnitID" name="callUnitID" value="<%
if(inst!=null){%><%= inst.callUnitID %><% }%>" /> <input type="hidden"
	id="cID" name="cID" value="<% if(inst!=null){%><%= inst.cID
%><% }%>" /> <input type="hidden" id="serMan" name="serMan" value="<%
if(inst!=null){%><%= inst.serMan %><% }%>" />
 <input type="hidden" id="agentname" name="agentname" value="" />

<div class="control-group<%if(msg!=null &&
msg.uphone!=null){%>error<%}%>"> <label class="control-label"
	for="uphone">联系电话 </label>
<div class="controls"><textarea class="autogrow" id="uphone"
	name="uphone"><% if(inst!=null){%><%= inst.uphone%><%}%></textarea>
<span class="help-inline"><%if(msg!=null &&
msg.uphone!=null){%><%= msg.uphone%><%}%></span></div>
</div>

<div class="control-group<%if(msg!=null &&
msg.uaddr!=null){%>error<%}%>"> <label class="control-label"
	for="uaddr">联系地址 </label>
<div class="controls"><textarea class="autogrow" id="uaddr"
	name="uaddr"><% if(inst!=null){%><%= inst.uaddr%><%}%></textarea>
<span class="help-inline"><%if(msg!=null &&
msg.uaddr!=null){%><%= msg.uaddr%><%}%></span></div>
</div>


<div class="control-group<%if(msg!=null &&
msg.OrderTypeid!=null){%>error<%}%>"> <label class="control-label"
	for="OrderTypeid">故障类别</label>
<div class="controls"><select id="OrderTypeid" name="OrderTypeid"
	data-rel="chosen">
</select></div>
</div>



<div class="control-group<%if(msg!=null &&
msg.orderContent!=null){%>error<%}%>"> <label class="control-label"
	for="orderContent">受理内容 </label>
<div class="controls"><textarea class="autogrow" id="orderContent"
	name="orderContent"><% if(inst!=null){%><%= inst.orderContent%><%}%></textarea>
<span class="help-inline"><%if(msg!=null &&
msg.orderContent!=null){%><%= msg.orderContent%><%}%></span></div>
</div>




<div class="control-group<%if(msg!=null &&
msg.DepID!=null){%>error<%}%>"> <label class="control-label"
	for="DepID">处理部门</label>
<div class="controls"><select id="DepID" name="DepID" data-placeholder="请选择" >
	<option value=""></option>
</select></div>
</div>

<div class="control-group"> <label class="control-label" for="iswork">上班时段</label>
<div class="controls">
<label class="radio"> <input type="radio" id="iswork0" name="iswork" value=1 checked="checked" />是</label>
<label class="radio"> <input type="radio" id="iswork1" name="iswork" value=0 />否</label>
</div>
</div>

<div class="control-group"> <label class="control-label" for="dactorName">非上班时段处理人员</label>
<div class="controls"><select id="dactorName" name="dactorName" data-placeholder="请选择" disabled="disabled" >
	<option value=""></option>
</select></div>
</div>


<div class="control-group<%if(msg!=null &&
msg.memo!=null){%>error<%}%>"> <label class="control-label"
	for="memo">备注 </label>
<div class="controls"><textarea class="autogrow" id="memo"
	name="memo"><% if(inst!=null){%><%= inst.memo%><%}%></textarea>
<span class="help-inline"><%if(msg!=null &&
msg.memo!=null){%><%= msg.memo%><%}%></span></div>
</div>

<div class="form-actions">
<button type="submit" class="btn btn-primary">保存</button>
<button type="reset" class="btn">取消</button>
</div>
</fieldset>
</form>

</div>
</div>
<!--/span--></div>
<!--/row--></div>
<!-- div containt --> <script type="text/javascript">
$(function(){
$("#serMan").val(parent._USERID);	
});
</script> 

<script type="text/javascript">
$("input[name='iswork']").bind("click",function(){		
var ckval=$('input[name="iswork"]:checked').val();
if(ckval==0){
	var depid=$("#DepID").val();
	$("#dactorName").removeAttr("disabled");
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName',where:{uDepId:depid}},
	                success: function (data, textStatus) {
	                	if(data.success)
                     {
                     	for (var i = 0; i < data.data.length; i++) {
                     	
                     	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#dactorName");	
	                        
                     	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
}else{
    $("#dactorName").empty();
	$("#dactorName").attr("disabled","disabled");
	
}

});
$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/OrderType',key:'id',value:'typeName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.OrderTypeid%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].typeName + "</option>").appendTo("#OrderTypeid");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].typeName + "</option>").appendTo("#OrderTypeid");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.serMan%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].uName + "</option>").appendTo("#serMan");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#serMan");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/CustomInfo',key:'id',value:'cname'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.cID%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].cname + "</option>").appendTo("#cID");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].cname + "</option>").appendTo("#cID");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/DepInfo',key:'id',value:'depName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                       {
                       	for (var i = 0; i < data.data.length; i++) {
                       		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.DepID%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].depName + "</option>").appendTo("#DepID");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                       	$("<option value='" + data.data[i].id + "'  >" + data.data[i].depName + "</option>").appendTo("#DepID");	
	                        }
                       	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


</script>

<script type="text/javascript">
</script>