<script type="text/javascript">
$(document).ready(function() {
var roleid=<%= roleid%>;
var aoColumns=[
               
               { mData: "id", "sWidth": "40px",bSearchable: false },
               { mData: "cID", "sWidth": "40px" },
               { mData: "uaddr", sClass: "center","sWidth": "100px" },
              // { mData: "OrderTypeid", sClass: "center" },
 { mData: "orderContent", sClass: "center","sWidth": "200px"  },
 { mData: "uphone", sClass: "center","sWidth": "80px"  },  
 { mData: "utel", sClass: "center","sWidth": "40px"  },                
               
               
              
               { mData: "DepID", sClass: "center","sWidth": "40px"  },               
               { mData: "dactorName", sClass: "center","sWidth": "40px"  },  
               { mData: "orderReslut", sClass: "center" ,"sWidth": "100px" }, 
                
                               
                { mData: "serMan", sClass: "center","sWidth": "40px" },               
               
               { mData: "OrderOptions", sClass: "center","sWidth": "40px" ,bSearchable: false},
   //            	{ mData: "recordTime", sClass: "center",bSearchable: false},
               	{ mData: "orderTime", sClass: "center","sWidth": "100px" ,bSearchable: false},
               	
                 { mData: "id", sClass: "center","sWidth": "40px" ,bSearchable: false }
                 
             ];
var vKeys=["id","cID.idcard","uaddr","orderContent","uphone","utel","DepID.depName","dactorName.uName","orderReslut","serMan.uName","OrderOptions","orderTime","id"];
var where='';
var where2='';
where+=',,,,,'+'serMan:::::'+$('#serMan').val();
where2+='serMan='+$('#serMan').val();
where+=',,,,,'+'DepID:::::'+$('#DepID').val();
where2+='&DepID='+$('#DepID').val();
where+=',,,,,'+'OrderOptions:::::'+$('#options').val();
where2+='&OrderOptions='+$('#options').val();
where+=',,,,,'+'dactorName:::::'+$('#dactorName').val();
where2+='&dactorName='+$('#dactorName').val();
where+=',,,,,'+'orderReslut:::::'+$('#orderReslut').val();
where2+='&orderReslut='+$('#orderReslut').val();
where+=',,,,,'+'orderContent:::::like|||||'+$('#orderContent').val();
where2+='&orderContent='+$('#orderContent').val();
where+=',,,,,'+'uphone:::::like|||||'+$('#uphone').val();
where2+='&uphone='+$('#uphone').val();
where+=',,,,,'+'uaddr:::::like|||||'+$('#uaddr').val();
where2+='&uaddr='+$('#uaddr').val();
where2+='&orderTime_from='+$('#orderTime_from').val();
where2+='&orderTime_to='+$('#orderTime_to').val();
if($('#orderTime_from').val()!='' && $('#orderTime_to').val()!=''){
where+=',,,,,'+'orderTime:::::between|||||'+$('#orderTime_from').val()+' 00:00:00====='+$('#orderTime_to').val()+' 23:59:59';
}
if($('#orderTime_from').val()!='' && $('#orderTime_to').val()==''){
  where+=',,,,,'+'orderTime:::::gte|||||'+$('#orderTime_from').val()+' 00:00:00';
}
if($('#orderTime_from').val()=='' && $('#orderTime_to').val()!=''){
  where+=',,,,,'+'orderTime:::::lte|||||'+$('#orderTime_to').val()+' 23:59:59';
}

where+=',,,,,'+'id:::::'+$('#id').val();
//where2+='&id='+$('#id').val();

var daochu=[];
for(var i=0;i<aoColumns.length-1;i++){
	daochu[i]=i;	
}

var geturl="/selectdb/pagingsearch?dbname=crm/OrderRecords&cls=id___OrderTypeid___orderContent___uphone___utel___uaddr___orderReslut___DepID___dactorName___serMan___cID___OrderOptions___recordTime___orderTime___id&where="+where+"&random="+Math.random();


var MyDataTable=$('#datatable').dataTable( {
	sDom: " <'row-fluid'<'span4'l><'span4'f><'span4'T>r>t<'row-fluid'<'span4'i><'span8 center'p>>",
	//sDom: 'T<"clear">lfrtip',
	sPaginationType: "bootstrap",
  <%if(pageindex>0){%>iDisplayStart: <%= pageindex%>,<%}%>
	//bDestroy:true,
	oLanguage: {
	sLengthMenu: "每页显示 _MENU_ 条记录",
    sZeroRecords: "对不起，查询不到任何相关数据",
    sInfo: "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
    sInfoEmtpy: "找不到相关数据",
    //"sInfoFiltered": "数据表中共为 _MAX_ 条记录",  
    sProcessing: "正在加载中...",
    sSearch: "搜索",
    sInfoEmpty: "显示 0 至 0 共 0 项",
   oPaginate: { "sFirst": "第一页", "sPrevious": "上一页 ", "sNext": "下一页 ", "sLast": "末页 " }
	},
   bAutoWidth:false,
    bProcessing: true,
    bServerSide: true,
     sScrollx:"100%",
     bScrollCollapse: true,
    
    
    bSort: false,
    aaSorting: [[7, "desc"],[8,"desc"]],
    bFilter:false,
    sAjaxSource: geturl,
    aoColumns:aoColumns ,
    aoColumnDefs: [
                  {
                	  aTargets:[3],"sWidth": "300px",
                	  mRender: function (data, type,full) {
                      var str='';
                      str+=data||'--';
                       
                      return str;
                	  }
                      },
                   {
                	   aTargets:[6],
                	   mRender: function (data, type,full) {
                       var str='';
                       str+=data.depName||'';
                       return str;
                	   }
                       },
                   {
                	   aTargets:[1],
                	   mRender: function (data, type,full) {
                       var str='';
                       str+=""+data.idcard || '';
                       //str+="<br/>用水地址："+data.lifeAddr;
                       //str+="<br/>电话："+data.phone;
                       return str;
                	   }
                       },
                        {
                	   aTargets:[7],
                	   mRender: function (data, type,full) {
                       var str="--";
                      if(data!=null  &&　data.uName)
                      str=data.uName;
                       return str;
                	   }
                       },
                        {
                     aTargets:[9],
                     mRender: function (data, type,full) {
                       var str="--";
                      if(data!=null  && 　data.uName)
                      str=data.uName;
                       return str;
                     }
                       },
                	     {
                	   aTargets:[8],
                	   asSorting:["desc"]
                	   },
                               {
                            	   aTargets: [aoColumns.length-1],
                            	//   mData : "id",
                                   mRender: function (data, type,full) {

                                 var depid=full.DepID.id;
                                 var oSettings = MyDataTable.fnSettings();
                                 var displaystart=oSettings._iDisplayStart;

                            	var str='<div class="btn-group print"><button class="btn btn-small ">操作</button> ';
						            str+='<button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>';
						            str+='<ul class="dropdown-menu"> ';
                                    str+='<li><a href="/OrderRecords/detail?id='+data+'&'+where2+'&distart='+displaystart+'" ><i class="icon-zoom-in icon-white"></i>查看</a></li>';
                                    str+='<li><a href="/OrderRecords/edit?id='+data+'&'+where2+'&distart='+displaystart+'" ><i class="icon-edit icon-white"></i> 编辑</a></li>';
                                    if(roleid==8){
                                    str+='<li><a href="javascript:paidan('+data+','+depid+');" ><i class="icon-trash icon-white"></i>派单 </a></li>';
                                    str+='<li><a href="javascript:cdsms('+data+');" ><i class="icon-trash icon-white"></i> 短信催单</a></li>';
                                    }
                                    else{
                                    str+='<li><a href="javascript:paidan2('+data+','+depid+');" ><i class="icon-trash icon-white"></i>片区派单 </a></li>';                                   
                                    str+='<li><a href="javascript:cdtel('+data+');" ><i class="icon-trash icon-white"></i>电话催单 </a></li>';
                                    str+='<li><a href="javascript:cdsms('+data+');" ><i class="icon-trash icon-white"></i> 短信催单</a></li>';
                                    str+='<li><a href="javascript:huifang('+data+');" ><i class="icon-trash icon-white"></i>回访 </a></li>';
                                    }
                                    str+='<li><a href="javascript:deleterow('+data+');" ><i class="icon-trash icon-white"></i> 删除</a></li>';
                                    str+='</ul></div>';
                                      return str;
                                   }
                               },
                               //{bVisible:false,aTargets: [4]}
                              ],
             oTableTools: {
             sSwfPath: "/css/swf/copy_csv_xls_pdf.swf",
             aButtons: [
                         
                             /*   {
					"sExtends": "copy",
					"sButtonText": "复制"
				} ,*/{
      "sExtends":"text",
      "sButtonText": "导出Excel" ,
      "fnClick": function ( nButton, oConfig, oFlash ) {
    
        var wherexls="";
wherexls+='serMan='+$('#serMan').val() || -1;
wherexls+='&DepID='+$('#DepID').val() || -1;
wherexls+='&OrderOptions='+$('#options').val() || -1;
wherexls+='&dactorName='+$('#dactorName').val() || -1;
wherexls+='&orderReslut='+$('#orderReslut').val();
wherexls+='&orderContent='+$('#orderContent').val();
wherexls+='&uphone='+$('#uphone').val();
wherexls+='&uaddr='+$('#uaddr').val();
wherexls+='&orderTime_from='+$('#orderTime_from').val();
wherexls+='&orderTime_to='+$('#orderTime_to').val();
                       window.open('/OrderRecords/excel?'+wherexls);
                    }
     }/*,
                {
                  "sExtends": "xls",
                    "sButtonText": "导出该页"  
                },
     { 
      "sExtends": "ext-xls", 
      "sAjaxUrl": geturl,
    //  "sParameters": parameters, 
      "sKeys": vKeys, 
      "sButtonText": "导出全部" 
     } ,{
      "sExtends":"text",
      "sButtonText": "新开窗口" ,
      "fnClick": function ( nButton, oConfig, oFlash ) {
                       window.open('/OrderRecords');
                    }
     },{
      "sExtends":"print",
      "sButtonText": "打印结果" ,
      "sInfo": "<h6>打印本页</h6><p>请使用浏览器的打印功能 " + "打印本页. 按ESC键退出.</p>",
      //"sMessage": "列表打印",
      "bShowAll": true
     }*/
                                
                                                   
                              ]
	}
  // "fnServerData": fnDataTablesPipeline
} );
//如果不是坐席，每分钟循环刷新列表
if(roleid!==8){
var intervalid=setInterval(function(){
MyDataTable.fnDraw();
}, 60000);
}

});


function deleterow(data){
	var oTable = $('#datatable').dataTable();
	   
	  // Immediately remove the first row
	  //oTable.fnDeleteRow( data );
	   if (confirm("确认要删除？")) {
	   $.ajax(
	            {
	                url: '/OrderRecords/del',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{ids:data},
	                success: function (data, textStatus) {	                    
		                    alert(data.msg);
		                   // location.href='/UserInfo/';	
		                    oTable.fnDraw();	                    
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }
	            }
	            );	       
	 }
  }

function cdtel(orderId){
	getPhone(orderId,function(udata){
        var phonenumber=udata.phone;
		dialout(phonenumber);
		});	
}

function dialout(phonenumber){
	 if (phonenumber == "") {
         alert("为能获取到有效手机号码，呼叫将失败！");
         return false;
     }
     var re=/^0\d+/;
     if(parent._OUTPREX!=null && !re.test(phonenumber))
     phonenumber = parent._OUTPREX + phonenumber;
   
     $.ajax(
     {
         url: '/asami/dialout',
         dataType: 'json',
         type: 'POST',
         async: false,
         data: { outnumber: phonenumber, exten: parent._USEREXTEN, poptype: "" },
         timeout: 10,
         success: function (ajaxdata, textStatus) {
             if (ajaxdata.Response == "Error") {
                 alert("操作失败");
             }
             else if(ajaxdata.Response == "NotConnected"){
             alert("语音服务器出现问题！");
             }
              else {
                 alert("正在开始呼叫:" + phonenumber + "，系统将自动拨打外线,电话响铃后请摘机！响铃分机："+ parent._USEREXTEN);
             }

         },
         error: function (XMLHttpRequest, textStatus, errorThrown) {
             alert('服务器处理异常！请联系管理员');
         }

     }
     );	
}

function cdsms(orderId){
	getPhone(orderId,function(udata){
		if (!udata || udata.phone == "") {
            alert("未能获取到有效手机号码，发送短信将失败！");
            return false;
        }
		
		$("#cusname").val(udata.name);
        
        if(!udata.phone){
alert("工单还没有派单,无师傅联系方式，不能崔单！");
        }else{
          $("#phonenumber").val(udata.phone);
        $("#smscontent").val(udata.content);
          $('#sendsms').modal('show');
        }
        
		});
}

function paidan2(orderId,depid1){
	var depid=depid1 || parent._USERDEPT;
	var where={};
	where.uDepId=depid;
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName',where:where},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	
	                        	
	                        	dodddddd(0,data,orderId,'');
	                        	
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
     

}

function paidan(orderId,depid1){

	getOrder(orderId,0,function(data){
		if(data==null)
		{
			alert("工单数据有误！");
		return false;	
		}
		var content='户_号:';
    content+=''+data.CustomInfo.idcard || '';
		content+='.地_址:'+data.CustomInfo.lifeAddr;
		//content+='.姓名:'+data.CustomInfo.cname;
    content+='.故_障:'+data.orderContent;
		var phone=data.CustomInfo.phone||'';
		    phone=phone.replace(/^0+/g,'');
		content+='.电_话:'+phone;
		
		//content+='.表号:'+data.CustomInfo.work || '';
		
		//content+='.备注:'+data.memo || '';
		content+='.';

		$("#danhao").val(data.id);
		$("#smscontent2").val(content);

		$("#shuoming").val(data.OrderType.typeName);
		$('#paidan').modal('show');
				});	
	
}

function dodddddd(i,data,orderId,str){

	
	if(i<data.data.length){
		str+="<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>";
	//$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#dactorName2");
	
	i++;
	dodddddd(i,data,orderId,str);
	}else{

$("#dactorName2").html(str);
		

	 	getOrder(orderId,0,function(data){
    		if(data==null)
    		{
    			alert("工单数据有误！");
    		return false;	
    		}

    var content='户_号:';
    content+=''+data.CustomInfo.idcard || '';
    content+='.地_址:'+data.CustomInfo.lifeAddr;
    //content+='.姓名:'+data.CustomInfo.cname;
    content+='.故_障:'+data.orderContent;
    var phone=data.CustomInfo.phone||'';
        phone=phone.replace(/^0+/g,'');
    content+='.电_话:'+phone;
    
    //content+='.表号:'+data.CustomInfo.work || '';
    
    //content+='.备注:'+data.memo || '';
    content+='.';
    	
    		$("#danhao").val(data.id);
    		$("#smscontent2").val(content);
    		$("#shuoming").val(data.OrderType.typeName);
    		$('#paidan').modal('show');
    	
    				});	


		}
    	
	
}

function getOrder(orderId,huifang,fn){
	  $.ajax(
	            {
	                url: '/OrderRecords/getOrder',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{id:orderId,huifang:huifang},
	                success: function (data, textStatus) {
		                if(data.success){	                    
		                    fn(data.data);	                    
		                }else{
			                alert(data.msg);
			                }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }
	            }
	            );		
}

function getPhone(orderId,fn){
	  $.ajax(
	            {
	                url: '/OrderRecords/getPhone',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{id:orderId},
	                success: function (data, textStatus) {
		                if(data.success){	                    
		                    fn(data.udata);	                    
		                }else{
			                alert(data.msg);
			                }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }
	            }
	            );		
}

function smssend() {
    var smscontent = $("#smscontent").val();
    var phonenumber = $("#phonenumber").val();
    $.ajax({
        url: '/Sms/AddSmsInfo',
        dataType: 'json',
        type: 'POST',
        data: { mobile: phonenumber, content: smscontent },
        success: function (result) {
            if (result.success) {
                $("#sendsms").modal('hide');
                alert("发送成功！");
            }
            else {
                alert(result.msg);
            }
        }
    });

}

function dopaidan(){
var oTable = $('#datatable').dataTable();
var orderid,manid,sms,paid;
orderid=$("#danhao").val();
manid=parent.USERID;
sms=$("#smscontent2").val();
paid=$("#dactorName2").val();
var shuoming=$("#shuoming").val();
$.ajax(
        {
            url: '/OrderRecords/paiDan',
            dataType: 'json',
            type: 'POST',
            async: false,
            data:{id:orderid,manid:manid,sms:sms,shuoming:shuoming,paid:paid,agentname:parent._USERNAME},
            success: function (data, textStatus) {
                if(data.success){	                    
                    //fn(data.phone);	
                    alert(data.msg);   
                    $('#paidan').modal('hide'); 
                    oTable.fnDraw();	               
                }else{
	                alert(data.msg);
	                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('服务器访问发生异常！' + textStatus);
                return;
            }
        }
        );		
}

function huifang(orderId){
	
	getOrder(orderId,1,function(data){
		if(data==null)
		{
			alert("工单数据有误！");
		return false;	
		}
		//alert(data.callUnitID);
    $("#danhao2").val(); 
    $("#guzhang").val();   
    $("#customname").val();
    $("#customphone").val();
    $("#smscontent3").val();
    $("#memo3").val();
		
		$("#danhao2").val(data.id);	
		$("#guzhang").val(data.orderContent);		
		$("#customname").val(data.CustomInfo.cname);
		$("#customphone").val(data.CustomInfo.phone);
    $("#customtel").val(data.CustomInfo.tel);
    $("#smscontent3").val(data.orderReslut);
    $("#memo3").val(data.memo);
    $("#OrderOptions3").val(data.OrderOptions);
    /*if(data.OrderOptions==1){
      var ttt2=$("#OrderOptions_2");
      ttt2.removeAttr("checked");
      var ttt1=$("#OrderOptions_1");

      ttt1.attr("checked","checked");
      ttt1.click();
      alert($('input[type="radio"][name="OrderOptions3"]:checked').val());

      $("input[type='radio'][name='OrderOptions3']").get(0).checked = true; 

    }else{
      $("#OrderOptions_1").removeAttr("checked");
      $("#OrderOptions_2").attr("checked","checked");
       alert($('input[type="radio"][name="OrderOptions3"]:checked').val());
      $("input[type='radio'][name='OrderOptions3']").get(1).checked = true; 
    }*/
		$('#huifang').modal('show');
				});		
}

function dohuifang(){
var oTable = $('#datatable').dataTable();
var orderid=$("#danhao2").val();
var manid=parent._USERID;
var content=$("#smscontent3").val();
var options=$("#OrderOptions3").val();
if(options==1){
//alert("仍在处理中的工单不能保存！");
//return false;
}
$.ajax(
        {
            url: '/OrderRecords/huiFang',
            dataType: 'json',
            type: 'POST',
            async: false,
            data:{id:orderid,manid:manid,content:content,options:options},
            success: function (data, textStatus) {
                if(data.success){	                    
                    //fn(data.phone);	
                    alert(data.msg);   
                    $('#huifang').modal('hide');  
                    oTable.fnDraw();	              
                }else{
	                alert(data.msg);
	                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('服务器访问发生异常！' + textStatus);
                return;
            }
        }
        );	

}

function dialouthuifang(){
	var phone=$("#customphone").val();
	dialout(phone);
}
function dialouthuifang2(){
  var phone=$("#customtel").val();
  dialout(phone);
}
</script>

<script type="text/javascript">

function get_OrderOptions(value){
var tm=	{ name: '工单状态',
  input: { type: 'radios' },
  search: false,
  create: true,
  table: true,
  radios: 
   [ { checked: ' selected=&quot;selected&quot;', value: 0, name: '未处理' },
     { checked: '', value: 1, name: '处理中' },
     { checked: '', value: 2, name: '已完成' } ] }.radios;
for(var tmtm in tm)
	if(tm[tmtm].value==value){
return tm[tmtm].name;
		}
}

function delmut(){}
function del(ids){
  if (!confirm("确认要删除？")) {
            $.ajax(
              {
                  url: '/OrderRecords/del',
                  dataType: 'json',
                  type: 'POST',
                  async: false,
                  data:{ids:ids},
                  success: function (data, textStatus) {                      
                        alert(data.msg);
                        location.href='/OrderRecords/';                       
                  },
                  error: function (XMLHttpRequest, textStatus, errorThrown) {
                      alert('服务器访问发生异常！' + textStatus);
                      return;
                  }
              }
              );  
        }
	 
}
</script>
<script type="text/javascript"><!--

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/OrderType',key:'id',value:'typeName'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	$("<option value='-1'  >请选择</option>").appendTo("#OrderTypeid");	
	                        	for (var i = 0; i < data.data.length; i++) {
	                        		<%if(where!=null){ %>
	    	                        if( data.data[i].id==<%= where.OrderTypeid%>)
	    	                        {
	    	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].typeName + "</option>").appendTo("#OrderTypeid");	
	    		                        }
	    	                        <%}else{%>
	    	                        if(false){}
	    	                        <%}%>
	    	                        else{
	                          	$("<option value='" + data.data[i].id + "'  >" + data.data[i].typeName + "</option>").appendTo("#OrderTypeid");	
	    	                        }
	    	                        
	                        	//$("<option value='" + data.data[i].id + "'  >" + data.data[i].typeName + "</option>").appendTo("#OrderTypeid");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	$("<option value='-1'  >请选择</option>").appendTo("#serMan");	
	                        	for (var i = 0; i < data.data.length; i++) {

	                        		<%if(where!=null){ %>
	    	                        if( data.data[i].id==<%= where.serMan%>)
	    	                        {
	    	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].uName + "</option>").appendTo("#serMan");	
	    		                        }
	    	                        <%}else{%>
	    	                        if(false){}
	    	                        <%}%>
	    	                        else{
	                          	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#serMan");	
	    	                        }
	    	                        
	                        //	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#serMan");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


$(function(){
	var depid=parent._USERDEPT;
	var where={};
	where.uDepId=depid;
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName',where:where},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	
	                        	for (var i = 0; i < data.data.length; i++) {	                        		
	                          	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#dactorName2");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/CustomInfo',key:'id',value:'cname'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	$("<option value='-1'  >请选择</option>").appendTo("#cID");	
	                        	for (var i = 0; i < data.data.length; i++) {

	                        		<%if(where!=null){ %>
	    	                        if( data.data[i].id==<%= where.cID%>)
	    	                        {
	    	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].cname + "</option>").appendTo("#cID");	
	    		                        }
	    	                        <%}else{%>
	    	                        if(false){}
	    	                        <%}%>
	    	                        else{
	                          	$("<option value='" + data.data[i].id + "'  >" + data.data[i].cname + "</option>").appendTo("#cID");	
	    	                        }

		                        	
	                        	//$("<option value='" + data.data[i].id + "'  >" + data.data[i].cname + "</option>").appendTo("#cID");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/DepInfo',key:'id',value:'depName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                      {
	                	$("<option value='-1'  >请选择</option>").appendTo("#DepID");	
	                		
                      	for (var i = 0; i < data.data.length; i++) {
                      		<%if(where!=null){ %>
	                        if( data.data[i].id==<%= where.DepID%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].depName + "</option>").appendTo("#DepID");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                      	$("<option value='" + data.data[i].id + "'  >" + data.data[i].depName + "</option>").appendTo("#DepID");	
	                        }
                      	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

</script>

<script type="text/javascript">

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName',groupby:'depName',groupdb:'DepInfo'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
	                        var htmlappend='<option value="-1">请选择</option> ';	                     
	                	
		                		for(var key in data.data){
		                	
		                	htmlappend+="<optgroup label='"+key+"'> ";
                        	for (var i = 0; i < data.data[key].length; i++) {
                        	
                        	
                        	htmlappend+="<option value='" + data.data[key][i].id + "'  >" + data.data[key][i].uName + "</option>";
 	                        
                        	}
                        	
                        	htmlappend+="</optgroup>";
	                		}
		                		$('#dactorName').html(htmlappend);
	                		
                        	
	                        }
	                        
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});



</script>
<div class="container-fluid">
<div id="mysearch" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">×</button>
<h3 id="myModalLabel">按条件搜索</h3>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="POST">
<fieldset>
<div class="control-group"><label class="control-label"
	for="id">工单编号 </label>
<div class="controls">
<input type="text" class="span6 typeahead" id="id" name="id" value="<%= where.id%>" />
<input type="hidden" id="options" name="options" value="<%= where.OrderOptions%>" />
</div>

</div>


<div class="control-group"><label class="control-label" for="uphone">联系电话 </label>
<div class="controls"><input type="text" class="span6 typeahead" id="uphone" value="<%= where.uphone%>" name="uphone" /></div>
</div>

<div class="control-group"><label class="control-label" for="uaddr">联系地址 </label>
<div class="controls"><input type="text" class="span6 typeahead" id="uaddr" value="<%= where.uaddr%>" name="uaddr" /></div>
</div>


<div class="control-group"><label class="control-label" for="orderContent">受理内容 </label>
<div class="controls"><input type="text" class="span6 typeahead" id="orderContent" value="<%= where.orderContent%>" name="orderContent" /></div>
</div>


<div class="control-group"><label class="control-label" for="DepID">处理部门 </label>
<div class="controls">
<select id="DepID" name="DepID">
<option value='<%=where.DepID%>'  ></option>
</select></div>
</div>




<div class="control-group"><label class="control-label"
	for="orderReslut">处理结果 </label>
<div class="controls"><input type="text" class="span6 typeahead" id="orderReslut" name="orderReslut" value="<%=where.orderReslut%>" /></div>
</div>


<div class="control-group"><label class="control-label" for="serMan">服务座席 </label>
<div class="controls"><select id="serMan" name="serMan">
<option value='<%=where.serMan%>'  ></option>
</select></div>
</div>

<div class="control-group"><label class="control-label" for="orderTime_from">记录时间 从</label>
<div class="controls">
 <input type="text" class="input-xlarge datepicker" id="orderTime_from" name="orderTime_from" value="<%= where.orderTime_from%>"> 
     </div>
</div>

<div class="control-group"><label class="control-label" for="orderTime_to">到</label>
<div class="controls">
<input type="text" class="input-xlarge datepicker" id="orderTime_to" name="orderTime_to" value="<%= where.orderTime_to%>">
     </div>
</div>


<div class="modal-footer">

<button class="btn btn-small btn-danger" data-dismiss="modal"
	aria-hidden="true">关闭</button>
<button type="submit" class="btn btn-small btn-info">搜索</button>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>

</div>


<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content"><!--<a href="/OrderRecords/create" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>新增</a> 
--><a href="#mysearch" role="button" class="btn btn-small btn-primary"
	data-toggle="modal"> <i class="icon-search icon-white"></i>查询</a></div>

<div class="box-header well" data-original-title>
<h2><i class="icon-user"></i> 工单记录列表</h2>
<div class="box-icon"><a href="#"
	class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>

</div>
</div>
<div class="box-content">
<!-- <table class="table table-striped table-bordered bootstrap-datatable datatable" id="datatable"> -->
<table class="table table-bordered" style="margin-bottom: 0px;" id="datatable">
	<thead>
		<tr>
			<th style="text-align:center;width:80px;">工单编号</th>
      <th style="text-align:center;width:40px;">用户户号</th>
      <th style="text-align:center;width:40px;">联系地址</th>
      <th style="text-align:center;width:40px;">受理内容</th>
       <th style="text-align:center;width:40px;">手机号码</th>
			<th style="text-align:center;width:40px;">固定号码</th>
       

      <th style="text-align:center;width:40px;">处理部门</th>
      <th style="text-align:center;width:40px;">处理人员</th>
      <th style="text-align:center;width:40px;">回访内容</th>      
           
			<th style="text-align:center;width:60px;">服务座席</th>
			<th style="text-align:center;width:40px;">工单状态</th>
			<th style="text-align:center;width:40px;">记录时间</th>
			<th class="print" style="width:60px;text-align:center;">操作</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
</div>
</div>
</div>

<div id="sendsms" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">×</button>
<h3 id="myModalLabel">短信催单</h3>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="get">
<fieldset>
<div class="control-group"><label class="control-label"
	for="cusname">师傅姓名</label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="cusname" name="cusname" readonly="readonly"></div>
</div>

<div class="control-group"><label class="control-label"
	for="phonenumber">手机号</label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="phonenumber" name="phonenumber" readonly="readonly"></div>
</div>

<div class="control-group"><label class="control-label"
	for="smscontent">工单内容</label>
<div class="controls"><textarea id="smscontent" name="smscontent"
	class="autogrow"></textarea></div>
</div>
<div class="modal-footer">
<button class="btn btn-small btn-danger" data-dismiss="modal"
	aria-hidden="true">关闭</button>
<button type="button" class="btn btn-small btn-info"
	onclick="javascript:smssend();">发送</button>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>

</div>


<div id="paidan" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">×</button>
<h3 id="myModalLabel2">派单处理</h3>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="get">
<fieldset>
<div class="control-group"><label class="control-label"
	for="danhao">工单编号</label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="danhao" name="danhao" readonly="readonly" />
	<input type="hidden" id="shuoming" name="shuoming"/>
	</div>
</div>
<div class="control-group"><label class="control-label"
	for="dactorName2">处理人员 </label>
<div class="controls"><select id="dactorName2" name="dactorName2"></select>
</div>
</div>
<div class="control-group"><label class="control-label"
	for="smscontent2">短信内容</label>
<div class="controls"><textarea id="smscontent2" name="smscontent2"
	class="autogrow"></textarea></div>
</div>
<div class="modal-footer">
<button class="btn btn-small btn-danger" data-dismiss="modal"
	aria-hidden="true">关闭</button>
<button type="button" class="btn btn-small btn-info"
	onclick="javascript:dopaidan();">确定</button>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>

</div>


<div id="paidan2" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel1" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">×</button>
<h3 id="myModalLabel21">片区派单</h3>
</div>
<div class="modal-body">
</div>
</div>

<div id="huifang" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">×</button>
<h3 id="myModalLabel3">用户回访</h3>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="get">
<fieldset>
<input type="hidden" id="danhao2" name="danhao2" />

<div class="control-group"><label class="control-label"
	for="guzhang">故障内容</label>
<div class="controls">
<textarea id="guzhang" name="guzhang" class="autogrow"></textarea>
</div>
</div>

<div class="control-group"><label class="control-label"
	for="customname">客户姓名</label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="customname" name="customname" readonly="readonly" /></div>
</div>

<div class="control-group"><label class="control-label"
	for="customphone">手机号</label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="customphone" name="customphone" readonly="readonly" />
	<input type="button" class="btn btn-small" onclick="javascript:dialouthuifang();" value="拨打"/>
	</div>
</div>

<div class="control-group"><label class="control-label"
  for="customtel">固话</label>
<div class="controls"><input type="text" class="span6 typeahead"
  id="customtel" name="customtel" readonly="readonly" />
  <input type="button" class="btn btn-small" onclick="javascript:dialouthuifang2();" value="拨打"/>
  </div>
</div>


<div class="control-group"><label class="control-label"
  for="memo3">备注</label>
<div class="controls"><textarea id="memo3" name="memo3" readonly="readonly" class="autogrow"></textarea>
  </div>
</div>

<div class="control-group"><label class="control-label"
	for="smscontent3">处理结果</label>
<div class="controls"><textarea id="smscontent3" name="smscontent3" class="autogrow"></textarea></div>
</div>
<div class="control-group"> <label class="control-label" for="OrderOptions3">工单状态 </label>
<div class="controls">
<select id="OrderOptions3" name="OrderOptions3">
  <option value="1">处理中</option>
  <option value="2">已完成</option>
</select>
</div>
</div>

<div class="modal-footer">
<button class="btn btn-small btn-danger" data-dismiss="modal"
	aria-hidden="true">关闭</button>
<button type="button" class="btn btn-small btn-info"
	onclick="javascript:dohuifang();">确定</button>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>

</div>

