<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/Sms/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/Sms/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 

						 </div>
						  <fieldset> 
							<legend>短信</legend> 
							<div class="control-group"> 
							<label class="control-label" for="mobile">手机号 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['mobile']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="content">短信内容 </label> 
							<div class="controls"> 
							<textarea class="autogrow" readonly="readonly"  id="content" name="content" ><%= inst['content']%></textarea> 
						
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="shuoming">短信说明 </label> 
							<div class="controls"> 
						
							<textarea class="autogrow" readonly="readonly"  id="shuoming" name="shuoming" ><%= inst['shuoming']%></textarea> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="SendTime">发送时间 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['SendTime']%></span> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="WorkTime">更新时间 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['WorkTime']%></span> 
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="sendState">发送状态 </label> 
							<div class="controls"> 
							 <select disabled="disabled" id="sendState" name="sendState">
							<option  value="0"  <%if(inst.sendState=='0'){%>selected="selected"<%}%> >
							 未发送 
							</option> 
							<option  value="1"  <%if(inst.sendState=='1'){%>selected="selected"<%}%> >
							 正在发送 
							</option> 
							<option  value="2"  <%if(inst.sendState=='2'){%>selected="selected"<%}%> >
							 发送成功 
							</option> 
							<option  value="-1"  <%if(inst.sendState=='-1'){%>selected="selected"<%}%> >
							 发送失败
							</option> 
						
								  </select> 
							 </div> 
							</div> 
						
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>