<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h4 class="alert-heading">注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>

<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/SysLog/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/SysLog/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a>  
						 </div>
						  <fieldset> 
							<legend>系统日志</legend> 
														<div class="control-group <%if(msg!=null && msg.content!=null){%>error<%}%>"> 
							<label class="control-label" for="content">错误内容 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="content" name="content" value="<% if(inst!=null){%><%= inst.content %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.content!=null){%><%= msg.content%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.errorpage!=null){%>error<%}%>"> 
							<label class="control-label" for="errorpage">页面 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="errorpage" name="errorpage" value="<% if(inst!=null){%><%= inst.errorpage %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.errorpage!=null){%><%= msg.errorpage%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.controller!=null){%>error<%}%>"> 
							<label class="control-label" for="controller">控制器 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="controller" name="controller" value="<% if(inst!=null){%><%= inst.controller %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.controller!=null){%><%= msg.controller%><%}%></span>
							 </div> 
							</div> 
						    <input type="hidden" id="id" name="id" value="<% if(inst!=null){%><%= inst.id %><% }%>" />
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
				<script type="text/javascript"><!--


</script>

<script type="text/javascript">


</script>
