<script type="text/javascript">
$(document).ready(function() {
var aoColumns=[
               
               { mData: "callUnitID", sClass: "center" },
               
               { mData: "ctID", sClass: "center" },
               
               { mData: "ctContent", sClass: "center" },
               { mData: "ansContent", sClass: "center",bSearchable: false},
               	{ mData: "isOver", sClass: "center",bSearchable: false},
               	
               { mData: "srvManID", sClass: "center" },
               
               { mData: "cID", sClass: "center" },
               { mData: "ansTime", sClass: "center",bSearchable: false},
               	
                 { mData: "id", sClass: "center",bSearchable: false }
                 
             ];
var where='';


where+=',,,,,'+'callUnitID:::::like|||||'+$('#callUnitID').val();


where+=',,,,,'+'ctID:::::'+$('#ctID').val();


where+=',,,,,'+'ctContent:::::like|||||'+$('#ctContent').val();


where+=',,,,,'+'srvManID:::::'+$('#srvManID').val();


where+=',,,,,'+'cID:::::'+$('#cID').val();

if(where!=='')
	where=where.replace(/^\,{5}/,'');

var daochu=[];
for(var i=0;i<aoColumns.length-1;i++){
	daochu[i]=i;	
}
$('#datatable').dataTable( {
	sDom: " <'row-fluid'<'span4'l><'span4'f><'span4'T>r>t<'row-fluid'<'span4'i><'span8 center'p>>",
	//sDom: 'T<"clear">lfrtip',
	sPaginationType: "bootstrap",
	//bDestroy:true,
	oLanguage: {
	sLengthMenu: "每页显示 _MENU_ 条记录",
    sZeroRecords: "对不起，查询不到任何相关数据",
    sInfo: "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
    sInfoEmtpy: "找不到相关数据",
    //"sInfoFiltered": "数据表中共为 _MAX_ 条记录",  
    sProcessing: "正在加载中...",
    sSearch: "搜索",
    sInfoEmpty: "显示 0 至 0 共 0 项",
   oPaginate: { "sFirst": "第一页", "sPrevious": "上一页 ", "sNext": "下一页 ", "sLast": "末页 " }
	},
    bProcessing: true,
    bServerSide: true,
    bSort: true,
    bFilter:false,
    sAjaxSource: "/selectdb/pagingsearch?dbname=crm/ConsultRecords&cls=callUnitID___ctID___ctContent___ansContent___isOver___srvManID___cID___ansTime___id&where="+where,
    aoColumns:aoColumns ,
    aoColumnDefs: [
                   {
 	   aTargets:[1],
 	   mRender: function (data, type,full) {
        var str='';
        str+=data.ctName||'';
        return str;
 	   }
        },
                   {
                	   aTargets:[5],
                	   mRender: function (data, type,full) {
                       var str='';
                       str+=data.uName||'';
                       return str;
                	   }
                       },
                       {
                    	   aTargets:[6],
                    	   mRender: function (data, type,full) {
                           var str='';
                           str+=data.cname||'';
                           return str;
                    	   }
                           },
                       
                               {
                            	   aTargets: [aoColumns.length-1],
                            	//   mData : "id",
                                   mRender: function (data, type,full) {
                                //    return 100;
                                var str='<div class="btn-group"><button class="btn btn-small ">操作</button> ';
						            str+='<button class="btn btn-small dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>';
						            str+='<ul class="dropdown-menu"> ';
                                    str+='<li><a href="/ConsultRecords/detail?id='+data+'"><i class="icon-zoom-in icon-white"></i>查看</a></li>';
                                    str+='<li><a href="/ConsultRecords/edit?id='+data+'"><i class="icon-edit icon-white"></i> 编辑</a></li> ';
                                    str+='<li><a href="javascript:deleterow('+data+');"><i class="icon-trash icon-white"></i> 删除</a></li> ';
                                    str+='</ul></div>';
                                      return str;
                                   }
                               },
                               //{bVisible:false,aTargets: [4]}
                              ],
             oTableTools: {
             sSwfPath: "/css/swf/copy_csv_xls_pdf.swf",
             aButtons: [
                                //  {
                                 // "sExtends": "xls",
                                //  "sButtonText": "导出excel",
                                //  "mColumns": [0,1,2,3]
                                // },
                                {
					"sExtends": "copy",
					"sButtonText": "复制"
				},
				  {
					"sExtends": "print",
					"sButtonText": "打印"
				},
                                 {
                 					"sExtends":    "collection",
                 					"sButtonText": '导出 <span class="caret" />',
                 					"aButtons":    [ "csv", "xls", "pdf" ],
                 					"mColumns": daochu
                 				}
                                
                                                   
                              ]
	}
  // "fnServerData": fnDataTablesPipeline
} );
} );

function deleterow(data){
	var oTable = $('#datatable').dataTable();
	   
	  // Immediately remove the first row
	  //oTable.fnDeleteRow( data );
	  
	   $.ajax(
	            {
	                url: '/ConsultRecords/del',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{ids:data},
	                success: function (data, textStatus) {	                    
		                    alert(data.msg);
		                   // location.href='/UserInfo/';	
		                    oTable.fnDraw();	                    
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }
	            }
	            );	       
	 }
</script>

<script type="text/javascript">








function get_isNeedBack(value){
var tm=	{ name: '是否回访',
  input: { type: 'radios' },
  search: false,
  create: false,
  table: false,
  radios: 
   [ { checked: ' selected=&quot;selected&quot;', value: 0, name: '未处理' },
     { checked: '', value: 1, name: '已处理' } ] }.radios;
for(var tmtm in tm)
	if(tm[tmtm].value==value){
return tm[tmtm].name;
		}
}



function get_backStatus(value){
var tm=	{ name: '回访状态',
  input: { type: 'radios' },
  search: false,
  create: false,
  table: false,
  radios: 
   [ { checked: ' selected=&quot;selected&quot;', value: 0, name: '未处理' },
     { checked: '', value: 1, name: '已处理' } ] }.radios;
for(var tmtm in tm)
	if(tm[tmtm].value==value){
return tm[tmtm].name;
		}
}



function get_backType(value){
var tm=	{ name: '回访方式',
  input: { type: 'selects', ops: [] },
  search: false,
  create: false,
  table: false,
  selects: 
   [ { checked: ' selected=&quot;selected&quot;', value: 1, name: '电话' },
     { checked: '', value: 2, name: '短信' },
     { checked: '', value: 3, name: '其他' } ] }.selects;
for(var tmtm in tm)
	if(tm[tmtm].value==value){
return tm[tmtm].name;
		}
}





function get_isOver(value){
var tm=	{ name: '受理结果',
  input: { type: 'radios' },
  search: false,
  create: true,
  table: true,
  radios: 
   [ { checked: ' selected=&quot;selected&quot;', value: 0, name: '未处理' },
     { checked: '', value: 1, name: '已处理' } ] }.radios;
for(var tmtm in tm)
	if(tm[tmtm].value==value){
return tm[tmtm].name;
		}
}


















function delmut(){}
function del(ids){
	 $.ajax(
	            {
	                url: '/ConsultRecords/del',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{ids:ids},
	                success: function (data, textStatus) {	                    
		                    alert(data.msg);
		                    location.href='/ConsultRecords/';		                    
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }
	            }
	            );	
}
</script>
<script type="text/javascript">

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/ConsultCode',key:'id',value:'ctName'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	for (var i = 0; i < data.data.length; i++) {
	                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].ctName + "</option>").appendTo("#ctID");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	for (var i = 0; i < data.data.length; i++) {
	                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#srvManID");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/UserInfo',key:'id',value:'uName'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	for (var i = 0; i < data.data.length; i++) {
	                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].uName + "</option>").appendTo("#backMan");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/CustomInfo',key:'id',value:'cname'},
	                success: function (data, textStatus) {
	                        if(data.success)
	                        {
	                        	for (var i = 0; i < data.data.length; i++) {
	                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].cname + "</option>").appendTo("#cID");	
	                        	}
		                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});

</script>

<script type="text/javascript">


</script>
<div class="container-fluid">
<div id="mysearch" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
	aria-hidden="true">×</button>
<h3 id="myModalLabel">按条件搜索</h3>
</div>
<div class="modal-body">
<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="POST">
<fieldset>


<div class="control-group"><label class="control-label"
	for="callUnitID">咨询编号 </label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="callUnitID" name="callUnitID" value="<%=
where.callUnitID%>" data-provide="typeahead" data-items="4"
data-source='["Alabama"]'></div>
</div>



<div class="control-group"><label class="control-label" for="ctID">咨询类型
</label>
<div class="controls"><select id="ctID" name="ctID"
	data-rel="chosen">
	<option value="<%= where.ctID%>"></option>
</select></div>
</div>



<div class="control-group"><label class="control-label"
	for="ctContent">咨询内容 </label>
<div class="controls"><input type="text" class="span6 typeahead"
	id="ctContent" name="ctContent" value="<%= where.ctContent%>"
data-provide="typeahead" data-items="4" data-source='["Alabama"]'></div>
</div>















<div class="control-group"><label class="control-label"
	for="srvManID">服务座席 </label>
<div class="controls"><select id="srvManID" name="srvManID"
	data-rel="chosen">
	<option value="<%= where.srvManID%>"></option>
</select></div>
</div>





<div class="control-group"><label class="control-label" for="cID">用户名称
</label>
<div class="controls"><select id="cID" name="cID"
	data-rel="chosen">
	<option value="<%= where.cID%>"></option>
</select></div>
</div>










<div class="modal-footer">
<button class="btn btn-small btn-danger" data-dismiss="modal"
	aria-hidden="true">关闭</button>
<button type="submit" class="btn btn-small btn-info">搜索</button>
</div>
</fieldset>
</form>
</div>
</div>
</div>
</div>

</div>


<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content"><!--<a href="/ConsultRecords/create" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>新增</a> 
--><a href="#mysearch" role="button" class="btn btn-small btn-primary"
	data-toggle="modal"> <i class="icon-search icon-white"></i>查询</a></div>

<div class="box-header well" data-original-title>
<h2><i class="icon-user"></i> 咨询记录列表</h2>
<div class="box-icon"><a href="#"
	class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>

</div>
</div>
<div class="box-content">
<table
	class="table table-striped table-bordered bootstrap-datatable datatable"
	id="datatable">
	<caption></caption>
	<thead>
		<tr>


			<th>咨询编号</th>



			<th>咨询类型</th>



			<th>咨询内容</th>









			<th>受理内容</th>



			<th>受理结果</th>





			<th>服务座席</th>





			<th>用户名称</th>









			<th>记录时间</th>


			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
</div>
</div>
</div>
