
<div class="container-fluid"><%if(msg!=null){%>
<div class="alert alert-block">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<h4>注意!</h4>
<%= util.inspect(msg,false,null)%></div>
<%}%>

<div class="container-fluid">

<div class="row-fluid sortable">
<div class="box span12">
<div class="box-content">
<form class="form-horizontal" method="POST">
<div><a href="/Sms/" class="btn btn-small btn-primary"> <i
	class="icon-chevron-left icon-white"></i>列表</a></div>
<fieldset><legend>短信群发</legend>


<div class="control-group<%if(msg!=null &&
msg.shuoming!=null){%>error<%}%>"> <label class="control-label"
	for="shuoming">短信说明 </label>
<div class="controls"><textarea class="autogrow" id="shuoming"
	name="shuoming"><% if(inst!=null){%><%= inst.shuoming%><%}%></textarea>
<span class="help-inline"><%if(msg!=null &&
msg.shuoming!=null){%><%= msg.shuoming%><%}%></span></div>
</div>

<div class="control-group<%if(msg!=null &&
msg.mobile!=null){%>error<%}%>"> <label class="control-label"
	for="mobile">手机号(多个号码用,号隔开) </label>
<div class="controls"><textarea class="autogrow" id="mobile"
	name="mobile"><% if(inst!=null){%><%= inst.mobile%><%}%></textarea> <span
	class="help-inline"><%if(msg!=null && msg.mobile!=null){%><%=
msg.mobile%><%}%></span></div>
</div>



<div class="control-group<%if(msg!=null &&
msg.content!=null){%>error<%}%>"> <label class="control-label"
	for="content">短信内容 </label>
<div class="controls"><textarea class="autogrow" id="content"
	name="content"><% if(inst!=null){%><%= inst.content%><%}%></textarea>
<span class="help-inline"><%if(msg!=null &&
msg.content!=null){%><%= msg.content%><%}%></span></div>
</div>





<div class="form-actions">
<button type="submit" class="btn btn-primary">保存</button>
<button type="reset" class="btn">取消</button>
</div>
</fieldset>
</form>

</div>
</div>
<!--/span--></div>
<!--/row--></div>
<!-- div containt --> <script type="text/javascript">


</script> <script type="text/javascript">


</script>