<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h4 class="alert-heading">注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>

<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/FaqCode/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/FaqCode/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a>  
						 </div>
						  <fieldset> 
							<legend>知识库分类管理</legend> 
														<div class="control-group <%if(msg!=null && msg.CodeName!=null){%>error<%}%>"> 
							<label class="control-label" for="CodeName">分类名称 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="CodeName" name="CodeName" value="<% if(inst!=null){%><%= inst.CodeName %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.CodeName!=null){%><%= msg.CodeName%><%}%></span>
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.ParentID!=null){%>error<%}%>"> 
							<label class="control-label" for="ParentID">上级分类 </label> 
							<div class="controls"> 
							 <select id="ParentID" name="ParentID" data-rel="chosen">
							 </select> 
							 </div> 
							</div> 
														<div class="control-group <%if(msg!=null && msg.Sequence!=null){%>error<%}%>"> 
							<label class="control-label" for="Sequence">排序 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="Sequence" name="Sequence" value="<% if(inst!=null){%><%= inst.Sequence %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.Sequence!=null){%><%= msg.Sequence%><%}%></span>
							 </div> 
							</div> 
						    <input type="hidden" id="id" name="id" value="<% if(inst!=null){%><%= inst.id %><% }%>" />
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
				<script type="text/javascript"><!--

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/FaqCode',key:'id',value:'CodeName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if(data.data[i].id==<%= inst.ParentID%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].CodeName + "</option>").appendTo("#ParentID");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].CodeName + "</option>").appendTo("#ParentID");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});




</script>

<script type="text/javascript">


</script>
