<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <h4 class="alert-heading">注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>

<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/extension/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/extension/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a>  
						 </div>
						  <fieldset> 
							<legend>系统分机</legend> 
							
							
														
							<div class="control-group <%if(msg!=null && msg.accountcode!=null){%>error<%}%>"> 
							<label class="control-label" for="accountcode">分机号码 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="accountcode" name="accountcode" value="<% if(inst!=null){%><%= inst.accountcode %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.accountcode!=null){%><%= msg.accountcode%><%}%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
														
							<div class="control-group <%if(msg!=null && msg.password!=null){%>error<%}%>"> 
							<label class="control-label" for="password">注册密码 </label> 
							<div class="controls"> 
							
									
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
														
							<div class="control-group <%if(msg!=null && msg.deviceproto!=null){%>error<%}%>"> 
							<label class="control-label" for="deviceproto">注册协议 </label> 
							<div class="controls"> 
							
							
							
							
							
							
							
							
							
							
							
							
							 <select id="deviceproto" name="deviceproto" data-rel="chosen">
							
							<option value="SIP" <% if(inst!=null && inst.deviceproto=='SIP' ){%> selected='selected'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> >
							 SIP协议 
							</option> 
							
							<option value="IAX2" <% if(inst!=null && inst.deviceproto=='IAX2' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 IAX2协议 
							</option> 
							
							<option value="DAHADI" <% if(inst!=null && inst.deviceproto=='DAHADI' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 座席卡 
							</option> 
							
								  </select> 
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
														
							<div class="control-group <%if(msg!=null && msg.devicenumber!=null){%>error<%}%>"> 
							<label class="control-label" for="devicenumber">设备号码 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="devicenumber" name="devicenumber" value="<% if(inst!=null){%><%= inst.devicenumber %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.devicenumber!=null){%><%= msg.devicenumber%><%}%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
														
							<div class="control-group <%if(msg!=null && msg.devicestring!=null){%>error<%}%>"> 
							<label class="control-label" for="devicestring">设备字符 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="devicestring" name="devicestring" value="<% if(inst!=null){%><%= inst.devicestring %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.devicestring!=null){%><%= msg.devicestring%><%}%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
														
							<div class="control-group <%if(msg!=null && msg.transfernumber!=null){%>error<%}%>"> 
							<label class="control-label" for="transfernumber">呼转号码 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="transfernumber" name="transfernumber" value="<% if(inst!=null){%><%= inst.transfernumber %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.transfernumber!=null){%><%= msg.transfernumber%><%}%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
														
							<div class="control-group <%if(msg!=null && msg.diallocal_failed!=null){%>error<%}%>"> 
							<label class="control-label" for="diallocal_failed">失败处理 </label> 
							<div class="controls"> 
							
							
							
							
							
							
							
							
							
							
							
							
							 <select id="diallocal_failed" name="diallocal_failed" data-rel="chosen">
							
							<option value="dodefault" <% if(inst!=null && inst.diallocal_failed=='dodefault' ){%> selected='selected'   <% } else if(inst==null){%>   selected=&quot;selected&quot;  <% }else{ %> <% }%> >
							 系统默认 
							</option> 
							
							<option value="ivr" <% if(inst!=null && inst.diallocal_failed=='ivr' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 跳转自动语音 
							</option> 
							
							<option value="voicemail" <% if(inst!=null && inst.diallocal_failed=='voicemail' ){%> selected='selected'   <% } else if(inst==null){%>     <% }else{ %> <% }%> >
							 语音留言 
							</option> 
							
								  </select> 
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							
							
							
							
							
							
							
						    <input type="hidden" id="id" name="id" value="<% if(inst!=null){%><%= inst.id %><% }%>" />
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
				<script type="text/javascript"><!--


</script>

<script type="text/javascript">


</script>
