<script type="text/javascript">
$(function () {
var str="<%= hostname%>:<%= port%>/<%= sounds%>/<%= myfilename%>.wav";
var  audio=$("#pcaudio")[0];
audio.src=str;
audio.play();
    });
function download(){
var str="<%= hostname%>:<%= port%>/<%= sounds%>/<%= myfilename%>.wav";
window.open(str);	
}
</script>



<div class="box-content">
    <div class="controls">
         <div class="controls  span9">
 <audio src="" controls="controls" id="pcaudio" >
 您的浏览器不支持此播放标签！
 </audio>
             </div>
        <div  class="controls  span3">
 <a href="<%= hostname%>:<%= port%>/<%= sounds%>/<%= myfilename%>.wav" target="_blank">下载</a>
 </div>
        </div>
</div>
    