<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/hardcard/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/hardcard/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/hardcard/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>外线语音卡</legend> 
							<div class="control-group"> 
							<label class="control-label" for="linenumber">线路编号 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['linenumber']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="lineproto">线路协议 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['lineproto']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="linedriver">线路驱动 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['linedriver']%></span>
							 </div> 
							</div> 
							<div class="control-group"> 
							<label class="control-label" for="linegroup">线路分组 </label> 
							<div class="controls"> 
							<span class="input-xlarge uneditable-input"><%= inst['linegroup']%></span>
							 </div> 
							</div> 
						
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>