
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意!</h4>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 

			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/AreaCode/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						 </div>
						  <fieldset> 
							<legend>街道/社区</legend> 
							<div class="control-group <%if(msg!=null && msg.AreaName!=null){%>error<%}%>"> 
							<label class="control-label" for="AreaName">街道/社区名称 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="AreaName" name="AreaName" value="<% if(inst!=null){%><%= inst.AreaName %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.AreaName!=null){%><%= msg.AreaName%><%}%></span>
																					 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.ParentID!=null){%>error<%}%>"> 
							<label class="control-label" for="ParentID">上级行政 </label> 
							<div class="controls"> 
																					 <select id="ParentID" name="ParentID" data-rel="chosen">
						     </select> 
							 </div> 
							</div> 
							<div class="control-group <%if(msg!=null && msg.Sequence!=null){%>error<%}%>"> 
							<label class="control-label" for="Sequence">排序 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="Sequence" name="Sequence" value="<% if(inst!=null){%><%= inst.Sequence %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.Sequence!=null){%><%= msg.Sequence%><%}%></span>
																					 </div> 
							</div> 
						
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
		<script type="text/javascript">

$(function(){
	 $.ajax(
	            {
	                url: '/selectdb/',
	                dataType: 'json',
	                type: 'POST',
	                async: false,
	                data:{tbname:'crm/AreaCodeTown',key:'id',value:'TownName'},
	                success: function (data, textStatus) {
	                	if(data.success)
                        {
                        	for (var i = 0; i < data.data.length; i++) {
                        		<%if(inst!=null){ %>
	                        if( data.data[i].id==<%= inst.ParentID%>)
	                        {
	                        	$("<option value='" + data.data[i].id + "' selected='selected' >" + data.data[i].TownName + "</option>").appendTo("#ParentID");	
		                        }
	                        <%}else{%>
	                        if(false){}
	                        <%}%>
	                        else{
                        	$("<option value='" + data.data[i].id + "'  >" + data.data[i].TownName + "</option>").appendTo("#ParentID");	
	                        }
                        	}
	                        }
	                        else{
	                        	alert(data.msg);
		                        }
	                },
	                error: function (XMLHttpRequest, textStatus, errorThrown) {
	                    alert('服务器访问发生异常！' + textStatus);
	                    return;
	                }

	            }
	            );	
	
});


</script>	

<script type="text/javascript">


</script>		
	