<div class="container-fluid"> 
<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 					
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<div>
						 <a href="/callsession_acts/" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>列表</a> 
						  <a href="/callsession_acts/create" class="btn btn-small btn-primary">
						 <i class="icon-plus icon-white"></i>新增</a> 
						  <a href="/callsession_acts/edit?id=<%= inst['id']%>" class="btn btn-small btn-primary">
						 <i class="icon-edit icon-white"></i>修改</a> 
						 </div>
						  <fieldset> 
							<legend>呼叫动作记录</legend> 
							
							<div class="control-group"> 
							<label class="control-label" for="actid">记录编号 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['actid']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="callsessionid">会话编号 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['callsessionid']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="cdruniqueid">CDR编号 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['cdruniqueid']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="acttime">发生时间 </label> 
							<div class="controls"> 
							
							
							
							<span class="input-xlarge uneditable-input"><%= inst['acttime']%></span> 
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="func_tion">执行方法 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['func_tion']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var0key">第一变量键 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var0key']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var0value">第一变量值 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var0value']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var1key">第二变量键 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var1key']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var1value">第二变量值 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var1value']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var2key">第三变量键 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var2key']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var2value">第三变量值 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var2value']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var3key">第四变量键 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var3key']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="var3value">第四变量值 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['var3value']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
							<div class="control-group"> 
							<label class="control-label" for="extradata">其他数据 </label> 
							<div class="controls"> 
							
							<span class="input-xlarge uneditable-input"><%= inst['extradata']%></span>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							 </div> 
							</div> 
							
						
							
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
<script type="text/javascript">


</script>
<script type="text/javascript">


</script>