
<div class="container-fluid"> 
<%if(msg!=null){%>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= util.inspect(msg,false,null)%>
</div>
<%}%>

<div class="container-fluid"> 
			<div class="row-fluid sortable"> 
				<div class="box span12"> 
					<div class="box-content"> 
						<form class="form-horizontal" method="POST"> 
						<input type="hidden" id="id" name="id" value="<%if(inst!=null){%><%= inst.id%><%}%>" />
						<div>
						 <a href="/UserInfo/EngineerList" class="btn btn-small btn-primary">
						 <i class="icon-chevron-left icon-white"></i>工程师列表</a> 
						 </div>
						  <fieldset> 
							<legend>管理和设置工程师</legend> 
							<div class="control-group <%if(msg!=null && msg.uName!=null){%>error<%}%>"> 
							<label class="control-label" for="uName">姓名 </label> 
							<div class="controls"> 
							<input type="text" class="span6" id="uName" name="uName" value="<% if(inst!=null){%><%= inst.uName %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.uName!=null){%><%= msg.uName%><%}%></span>
							 </div> 
							</div> 
 							
														
							<div class="control-group <%if(msg!=null && msg.uPhone!=null){%>error<%}%>"> 
							<label class="control-label" for="uPhone">手机号 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="uPhone" name="uPhone" value="<% if(inst!=null){%><%= inst.uPhone %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.uPhone!=null){%><%= msg.uPhone%><%}%></span>
														
							 </div> 
							</div> 
							
							<div class="control-group <%if(msg!=null && msg.uAddr!=null){%>error<%}%>"> 
							<label class="control-label" for="uMemo">备注 </label> 
							<div class="controls"> 
							
							<input type="text" class="span6" id="uMemo" name="uMemo" value="<% if(inst!=null){%><%= inst.uMemo %><% }%>" />
							<span class="help-inline"><%if(msg!=null && msg.uMemo!=null){%><%= msg.uMemo%><%}%></span>
														
							 </div> 
							</div> 																																									
							 						  																																		
							<div class="form-actions"> 
							  <button type="submit" class="btn btn-primary">保存</button> 
							  <button type="reset" class="btn">取消</button> 
							</div> 
						  </fieldset> 
						</form>   
 
					</div> 
				</div><!--/span--> 
 
			</div><!--/row--> 
			</div><!-- div containt -->
	
	
<script type="text/javascript">
</script>	

<script type="text/javascript">
</script>		
	